<div id="wrapper" ng-class="{'stream': channel.selected.fullscreen.video}">
    <!-- Page Content -->
    <div id="page-content-wrapper" ng-if="channel.selected.fullscreen.video">
        <div id="panelvideo">
            <div class="panel-title">
                <!-- Single button -->
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{channel.selected.name}}&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="c in channels" ng-class="{active: c.name == channel.selected.name}">
                            <a href ng-click="changeChannel(c)" title="{{ c.description }}">
                                <span class="icon category-icon" ng-class="{'uncategorized': !c.color}" ng-style="{background: c.color}"></span> {{ c.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail-section">
                <youtube code="channel.selected.fullscreen.video"></youtube>
                <div class="favorite-comment" ng-if="favorite.status"></div>
                <div class="detail-section" ng-if="can('board-config') && show_details">
                    <h4>Configuración</h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="yt-code">Código de Youtube</label>
                            <input type="text" class="form-control" id="yt-code" placeholder="abcde123" ng-model="channel.selected.new_yt_code">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="updateChannelMeta()">Actualizar video</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="page-members-wrapper" ng-class="{'no-stream': !channel.selected.fullscreen.video}">
        <div class="detail-section-admin" ng-if="can('board-config') && show_details && !channel.selected.fullscreen.video">
            <h4>Configuración</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label for="yt-code">Código de Youtube</label>
                    <input type="text" class="form-control" id="yt-code" placeholder="abcde123" ng-model="channel.selected.new_yt_code">
                </div>
                <button type="submit" class="btn btn-default" ng-click="updateChannelMeta()">Actualizar video</button>
            </form>
        </div>
        <div id="panel">
            <div class="panel-title panel-title-chat" ng-if="!channel.selected.fullscreen.video" ng-class="{'stream': channel.selected.fullscreen.video}">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{channel.selected.name}}&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="c in channels" ng-class="{active: c.name == channel.selected.name}">
                            <a href ng-click="changeChannel(c)" title="{{ c.description }}">
                                <span class="icon category-icon" ng-class="{'uncategorized': !c.color}" ng-style="{background: c.color}"></span> {{ c.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-title panel-title-chat" ng-class="{'stream': channel.selected.fullscreen.video}">
                <p>
                    <a href="#" ng-click="usersViewChange($event)"><i class="fa fa-circle" aria-hidden="true" style="color: #3DE179;"></i>&nbsp;&nbsp;{{ members.length }} Spartanos conectados&nbsp;&nbsp;<i ng-if="!users" class="fa fa-caret-down"></i><i ng-if="users" class="fa fa-caret-up"></i></a>
                    <a ng-if="can('board-config')" title="Configurar este canal" class="btn btn-default btn-icon btn-round" ng-click="toggle_details()" ng-class="{'active': show_details}">
                        <i class="fa fa-fw fa-info-circle icon"></i>
                    </a>
                </p>
            </div>

            <!--CHAT-->
            <div class="detail-section-chat" ng-if="!users" ng-class="{'stream': !channel.selected.fullscreen.video}">
                <div class="content-chat">
                    <div ng-scrollbars ng-scrollbars-config="sb_config.chat" class="message-history">
                        <div class="message" ng-repeat="m in old_messages" ng-class="::{'compact':old_messages[$index-1].author.username == old_messages[$index].author.username}">
                            <a href="/u/{{ m.author.username }}/{{ m.author.id }}" class="author" target="_blank" ng-if=":: old_messages[$index-1].author.username != m.author.username">
                                <span class="avatar" title="{{ m.author.username }}" ng-if="!m.author.image">{{ m.author.username[0] }}</span>
                                <img class="avatar" ng-src="{{ m.author.image }}" alt="{{ m.author.username }}" ng-if="m.author.image">
                            </a>
                            <div class="meta" ng-if=":: old_messages[$index-1].author.username != m.author.username">
                                <a href="/u/{{ m.author.username }}/{{ m.author.id }}" class="username" target="_blank">{{ m.author.username }}</a>
                                <span class="timestamp" uib-tooltip="{{ m.created_at | date_at }}" tooltip-popup-delay="500" tooltip-placement="right">{{ m.created_at | date:'H:mm' }}</span>
                                <span class="star"></span>
                            </div>
                            <span class="timestamp" ng-if=":: old_messages[$index-1].author.username == m.author.username" uib-tooltip="{{ m.created_at | date_at }}" tooltip-popup-delay="500" tooltip-placement="right">{{ m.created_at | date:'H:mm' }}</span>
                            <div class="content">{{ m.content }}</div>
                        </div>
                        <div class="message" ng-repeat="m in messages" ng-class="::{'compact':messages[$index-1].author.username == messages[$index].author.username, 'message-highlight': m.highlight}">
                            <a href="/u/{{ m.author.username }}/{{ m.author.id }}" class="author" target="_blank" ng-if=":: messages[$index-1].author.username != m.author.username">
                                <span class="avatar" title="{{ m.author.username }}" ng-if="!m.author.image">{{ m.author.username[0] }}</span>
                                <img class="avatar" ng-src="{{ m.author.image }}" alt="{{ m.author.username }}" ng-if="m.author.image">
                            </a>
                            <div class="meta" ng-if=":: messages[$index-1].author.username != m.author.username">
                                <a href="/u/{{ m.author.username }}/{{ m.author.id }}" class="username" target="_blank">{{ m.author.username }}</a>
                                <span class="timestamp" uib-tooltip="{{ m.created_at | date_at }}" tooltip-popup-delay="500" tooltip-placement="right">{{ m.created_at | date:'H:mm' }}</span>
                                <span class="star"></span>
                            </div>
                            <span class="timestamp" ng-if=":: messages[$index-1].author.username == messages[$index].author.username" uib-tooltip="{{ m.created_at | date_at }}" tooltip-popup-delay="500" tooltip-placement="right">{{ m.created_at | date:'H:mm' }}</span>
                            <div show-images content="{{ m.content }}" username="{{ user.info.username }}" class="content"></div>
                        </div>

                        <div class="new_chat_alert" ng-if="scroll_help.scrolledUp && old_messages.length > 0"><a href="" ng-click="goToBottom()"><i class="fa fa-arrow-down"></i> Nuevos mensajes ({{ old_messages.length }})</a></div>

                        <div class="new_chat_alert" ng-if="scroll_help.scrolledUp"><a href="" ng-click="goToBottom()"><i class="fa fa-arrow-down"></i> Volver al final</a></div>

                        <div class="spam_alert" ng-if="helpers.spam_count > 1 && !helpers.blocked">Debes dejar de hacer spam o tu cuenta se bloqueará.</div>
                    </div>

                    <div class="footer">
                        <div class="input-box" ng-if="user.isLogged">
                            <div class="input-group">
                                <textarea type="text" class="input-box_text" placeholder="Escribe tu mensaje..." ng-trim="false" ng-model="message.content" sg-enter="addMessage()" sg-send="message.send_on_enter" ng-readonly="helpers.spam_count > 2"></textarea>
                            </div>
                        </div>
                        <div class="blocked-input-box" ng-if="user.isLogged && (!helpers.validated || helpers.blocked)">
                            <p ng-if="!helpers.validated && !helpers.blocked">Necesitas validar tu cuenta mediante correo para poder escribir en el chat.</p>
                            <p class="warning" ng-if="helpers.blocked">Tu cuenta ha sido bloqueada por 60 segundos.</p>
                        </div>
                        <div class="input-box" ng-if="!user.isLogged">
                            <p class="alert alert-info text-center">Necesitas crear una cuenta para participar. <a href="" ng-click="signUp()">Regístrate</a> o <a href="" ng-click="signIn()">inicia sesión</a> si ya tienes una.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CHAT-->

            <!-- USERS LIST -->
            <div class="detail-section-chat" ng-if="users">
                <input type="text" ng-model="searchText.content" class="form-control mb-20" placeholder="Buscar...">
                <ul ng-scrollbars ng-scrollbars-config="sb_config.users" class="user-status">
                    <li class="online" ng-repeat="m in members | filter:searchText.content | orderBy:['username']">
                        <a href="/u/{{ m.username }}/{{ m.id }}" class="">
                            <span class="avatar" title="{{ m.username }}" ng-if="!m.image">{{ m.username[0] }}</span>
                            <img class="avatar" ng-src="{{ m.image }}" alt="{{ m.username }}" ng-if="m.image">
                        </a>
                        <a href="/u/{{ m.username }}/{{ m.id }}" class="username">{{ m.username }}</a>

                        <span ng-if="m.id != user.info.id && can('edit-category-comments')" ng-click="m.hide_info = !m.hide_info"><i class="fa fa-ban"></i></span>

                        <div class="status" ng-class="{'writing': m.writing}"><i class="fa fa-ellipsis-h" ng-if="m.writing"></i></div>

                        <div uib-collapse="!m.hide_info" ng-if="m.id != user.info.id && can('edit-category-comments')" style="padding: 10px 0; border-bottom: 1px solid #ddd;">
                            <div class="btn-toolbar">
                                <a href="" ng-click="suspendUser(m.id, 60*5); m.already_blocked = true" class="btn btn-default btn-sm" ng-class="{'disabled': m.already_blocked}">Bloquear</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END USERS LIST -->
        </div>
    </div>
</div>
<!-- /#wrapper -->