main.chat {
	max-width: $layout-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: $light-color;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 $gray-color-light;

	& header {
		border-bottom: 1px solid $gray-color-light;
	}

	& form {
		border-top: 1px solid $gray-color-light;
	}

	&::before {
		content: "";
    	display: table;
	}
	
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	
	.tile-subtitle p:last-child {
		margin-bottom: 0;
	}
	
	.online {
		color: $dark-color !important;
	}

	small.time {
		color: $light-color;	
	}

	.tile:hover {
		background: $light-shade;

		small.time {
			color: $gray-color !important;
		}
	}

	.avatar {
		border-radius: 50%;
	}
}
.nav-text{
	color: #3D5AFE;
}

.message-id{
	color: #007acc;
}