main.chat {
	max-width: $layout-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;

	&::before {
		content: "";
    	display: table;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	
	.tile:hover {
		background: $bg-color;

		.white {
			color: $gray-color !important;
		}
	}

	.avatar {
		border-radius: 50%;
	}
}
.nav-text{
	color: #3D5AFE;
}

.message-id{
	color: #007acc;
}