main.chat {
	max-width: $layout-max-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;

	&::before {
		content: "";
    	display: table;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
    }
}
.nav-text{
	color: #3D5AFE;
}

.message-id{
	color: #007acc;
}

.avatar-chat {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
}

.div-avatar{
	height: auto;
}
