.config-modal, .users-modal {
    z-index: 301;
    width: 640px;
    max-width: 100%;
    margin: 2rem auto;

    &:focus {
        outline-color: $light-shade;
    }

	& .modal-container {
		padding: 0;
	}
}

.modal.active .modal-overlay, .modal:target .modal-overlay {
	background: rgba(17, 31, 68, 0.80) !important;
}

.modal .form-group:not(:last-child) {
	margin-bottom: 0.8rem;
}

.modal .tab .tab-item a {
	padding: .6rem .2rem .6rem;
}

.form-checkbox, .form-radio, .form-switch {
	font-weight: normal;
}

.modal-container.config {
	& nav {
		background: $lighter-shade;
		border-right: 1px solid $light-shade;
		width: 25%;
		padding: 0.6rem 0;
		flex-shrink: 0;

		& a {
			display: block;
			color: #50596c;
			padding: 0.6rem 1rem;
			cursor: pointer;

			&.active, &:hover {
				color: $primary-color;
				text-decoration: none;
			}

			&.active {
				font-weight: 500;
			}
		}
	}

	& .flex > div {
		padding: 1.2rem 1rem;
		max-height: 600px;
    	overflow-y: scroll;

		& .header {
			margin: 0 0 1rem;
		}

		& h2 {
			font-size: 1.2rem;
			font-weight: 500;
			margin: 0;
		}

		& label {
			font-weight: 500;
		}
	}
}
.feedback-modal {
    width: 360px;
    z-index: 301;
    margin: 1rem auto;

    &:focus {
        outline-color: $light-shade;
    }

    & .modal-container {
        padding: 0.8rem;
    }

    & .form-group:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}

.modal-body-flagpost {
  max-height: 50vh;
  overflow-y: auto;
  position: relative;
}
