@import "../variables.css";

header.navbar-tools {
	background: #191E38;

	& > nav {
    	display: flex;
		max-width: var(--layoutSize);
		margin: 0 auto;
		padding: 0.5rem 1rem;
		color: #FFF;
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;

		& a {
			cursor: pointer;
			color: #FFF;
			color: rgba(255, 255, 255, 0.8);
		}

		& .badge:not([data-badge])::after, & .badge[data-badge]::after {
			background: #38C172;
			box-shadow: 0 0 0 0.1rem #191E38;
		}
	}
}

header.navbar {
	background-color: transparent;
	border-bottom: transparent;
	padding: 1rem 1rem;
	max-width: var(--layoutSize);
	margin: 0 auto;

	& h1.logo {
		color: var(--primaryColor);
		margin: 0;
		text-transform: lowercase;
	}

	& a.btn.btn-link, & span.badge {
		color: #32325d;
		font-size: calc(var(--fontSize) * 1.1);
		margin: 0 calc(var(--fontSize) - 7px) ;
		padding-left:0px;
		padding-right: 0px;
	}
}

header.navbar .badge {
	background-color: transparent;
	color: #32325d;
	padding: 0.5rem 1rem;

	&.none::after {
		display: none;
	}
}

header.navbar .badge:not([data-badge])::after, header.navbar .badge[data-badge]::after {
	box-shadow: none;
}