@import "../variables.css";

header.navbar {
	background-color: transparent;
	border-bottom: transparent;
	padding: 1rem 1rem;
	max-width: var(--layoutSize);
	margin: 0 auto;

	& h1.logo {
		color: var(--primaryColor);
		margin: 0;
		text-transform: lowercase;
	}

	& a.btn.btn-link, & span.badge {
		color: #32325d;
		font-size: calc(var(--fontSize) * 1.1);
	}
}

header.navbar .badge {
	background-color: transparent;
	color: #32325d;
	padding: 0.5rem 1rem;

	&.none::after {
		display: none;
	}
}

header.navbar .badge:not([data-badge])::after, header.navbar .badge[data-badge]::after {
	box-shadow: none;
}