@import "../variables.css";

.current-article {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	margin: 0 0 0 1rem;
	padding: 2rem;

	& section h1, & article h1 {
		color: color(var(--primaryColor) blackness(10%));
		font-size: calc(var(--fontSize) * 1.6);
	}

	& section h2, & article h2 {
		font-size: calc(var(--fontSize) * 1.4);
	}

	& section h3, & article h3 {
		font-size: calc(var(--fontSize) * 1.2);
	}

	& section > h1, & section h2 {
		margin-top: 0;
		margin-bottom: 0.8rem;
	}

	& section, & article {
		& .separator {
			content: " ";
			width: 100%;
			border-bottom: 1px solid var(--mainGray);
			margin: .8rem 0;
		}
	}

	& p {
		color: #6b7c93;
	}

	& textarea.form-input {
		box-shadow: 0 0 0 0.5px rgba(50,50,93,.27), 0 0 0 0.5px rgba(50,151,211,0), 0 0 0 2px rgba(50,151,211,0), 0 0.5px 1px rgba(0,0,0,.08);
		border: 1px solid #e5e5e5;
		border-radius: 2px;

		&:focus {
			border-color: color(var(--primaryColor) whiteness(25%));
		}
	}
}

.quick-guide {
	lost-utility: clearfix;

	& > div {
		lost-column: 1/3;
	}

	& h3 {
		font-size: var(--fontSize);
		margin-bottom: 0.4rem;
	}

	& p {
		font-size: calc(var(--fontSize) * 0.9);
		line-height: 18px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.subscribe {
	lost-utility: clearfix;

	& > div {
		lost-column: 1/2;
	}

	& h3 {
		font-size: var(--fontSize);
		margin-bottom: 0.4rem;
	}

	& p {
		font-size: calc(var(--fontSize) * 0.9);
		line-height: 18px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

textarea {
	overflow: hidden
}