// Core colors
$primary-color: #3D5AFE !default;
$secondary-color: lighten($primary-color, 37.5%) !default;

// Gray colors
// Comment for dark

$dark-color: #454d5d !default;
$light-color: #fff !default;


// Uncomment for dark
/*
$dark-color: rgb(196, 196, 196) !default;
$light-color: #292929 !default;
$gray-color: lighten($light-color, 40%) !default;
$gray-color-dark: lighten($gray-color, 25%) !default;
$gray-color-light: darken($gray-color, 20%) !default;
*/


// Extra colors
$dark-shade: desaturate(mix($light-color, $primary-color, 80%), 60%);
$light-shade: desaturate(mix($light-color, $primary-color, 92%), 50%);
$lighter-shade: desaturate(mix($light-color, $primary-color, 96%), 50%);
$darkest-primary: mix($dark-color, $primary-color, 90%);
$darker-primary: mix($dark-color, $primary-color, 30%);

// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;
$font-size: .75rem !default;
$font-size-sm: .6rem !default;
$font-size-lg: .9rem !default;
$line-height: 1rem !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;

$layout-max-width: $size-xl;