@import "variables.css";

body {
	background: #f1f5f9;
	font-family: system-ui;
}

a {
	color: var(--primaryColor);
}

.btn.btn-primary {
	background: var(--primaryColor) !important;
}

.toast.toast-error {
	background: rgba(232, 0, 30, 0.9);
	border-color: #c61d31;
}