@import "tachyons";
@import "variables.css";

body, html {
    height: 100%;
}


body {
	background: #f1f5f9;
	font-family: system-ui;
}

a {
	color: var(--primaryColor);
}

.btn.btn-primary {
	background: var(--primaryColor) !important;
	border-color: color(var(--primaryColor) blackness(50%)) !important;
	&:hover {
		background: color(var(--primaryColor) lightness(45%)) !important;
	}
}

.toast.toast-error {
	background: rgba(232, 0, 30, 0.9);
	border-color: #c61d31;
}

.toast.toast-primary {
	background: var(--primaryColor);
	border-color: var(--primaryColor);
}

.toast.toast-warning {
	background: #FFF9C2;
	border-color: #e3dfb3;
	color: #22292F;
}

.avatar {
	border-radius: 4px;
	
	& img {
		border-radius: inherit;
	}
}

.btn-icon {
	border: 1px solid #caced7;
	border-radius: .125rem;
	padding: 0.15rem 0.25rem;
	cursor: pointer;

	&.vote {
		color: #777777;
	}

	&.active {
		background: var(--primaryColor);
		border-color: color(var(--primaryColor) blackness(50%));
		text-decoration: none;
		color: #FFF;
		color: rgba(255, 255, 255, 0.9);

		&:hover {
			color: #FFF;
			border-color: color(var(--primaryColor) blackness(60%));
		}
	}

	&:hover {
		border-color: var(--primaryColor);
		color: #777777;
		text-decoration: none;		
	}
}

.modal.active .modal-container, .modal:target .modal-container {
	padding: 0
}

.empty {
	background: none;
}

.gray {
	color: #657187 !important;
}

.bg-near-white {
	background-color: var(--mainGray) !important;
}

.fade-in {animation:fade-in 0.5s;}

@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

.shadow {
    box-shadow: 0 0 0 .5px rgba(49,49,93,.03),0 2px 5px 0 rgba(49,49,93,.1),0 1px 2px 0 rgba(0,0,0,.08) !important;
}
@media (--breakpoint-medium){
	.feed{
	display: flex;
	}	
	.post-active .feed{
	display: none;
	}
	.post{
	display: none;
	}
	.post-active  .post{
	display: flex;
	}
}