<main class="global-content">
  <div class="container">
    <h1>Acerca de SpartanGeek</h1>

    <div class="row mb-40">
      <div class="col-md-6">
        <h3>Presentación</h3>
        <p>SpartanGeek.com es la comunidad de gamers y apasionados a la tecnología de más rápido crecimiento en Latinoamérica y España.</p>

        <p><em>Spartan:</em> Raza de guerreros de élite que jamás preguntarían "cuántos enemigos son", sino "dónde están".</p>
        <p><em>Geek:</em> Persona que tiene un gran entendimiento o afición por algún tema: tecnología, películas, autos, etc.</p>

        <p>Miles de Spartanos han creado este espacio para conectar con más personas sin otro requisito que el hecho de hacer amigos, preguntar y resolver dudas, informarse de temas de actualidad y organizar proyectos que beneficien a la comunidad.</p>
      </div>
      <div class="col-md-6">
        <h3>Datos</h3>

        <p>Lanzamiento oficial de SpartanGeek.com en <strong>julio de 2015</strong>.</p>
        <p><strong>Funcionalidades desarrolladas:</strong> Servicio de notificaciones, chat, sistema de rangos y recompensas por buenas contribuciones, tienda en línea, catálogo de componentes.</p>
        <p><strong>En desarrollo actualmente:</strong> Catálogo de videojuegos con reviews, blog para cubrir noticias y lanzamientos, etc.</p>

        <ul class="nav navbar-nav navbar-stats" style="margin-left: 0">
          <li><a><i class="fa fa-users"></i> Usuarios: {{status.stats.users | number:0}}</a></li>
          <li><a><i class="fa fa-file"></i> Publicaciones: {{status.stats.posts | number:0}}</a></li>
          <li><a><i class="fa fa-comments"></i> Comentarios: {{status.stats.comments | number:0}}</a></li>
        </ul>
      </div>
      <div class="col-md-12">
        <h3>El equipo</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="team-member mb-40">
              <a href="/u/Drak/54c158b22397380b1700000f" title="Perfil de Drak">
                <img class="avatar" src="http://s12.postimg.org/pee2b8h7h/foto_perfil_drak.png" alt="Drak">
              </a>
              <div class="description">
                <a href="/u/Drak/54c158b22397380b1700000f" title="Perfil de Drak">Drak</a>
                <span class="job-title">Legendary Gamer</span>
                <p>Su pezón izquierdo tiene la forma de un control de Nintendo 64. Ha acuñado términos como "Fepeeses" y "Yiti equis", ahora aceptados en la RAE. Lo han expulsado en innumerables ocasiones, pero las dos más memorables fueron de Cuba y de la UNAM. En su cartera guarda una foto de su PC Gamer. Escucha música de 8-Bits. <br>Su juego favorito es Bioshock (la saga completa).</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <a href="/u/Alberto/54bc29d823973845d5000002" title="Perfil de Alberto">
                <img class="avatar" src="http://s3-us-west-1.amazonaws.com/spartan-board/users/55a5c14e7a478063390001cb-120x120.jpg" alt="Alberto">
              </a>
              <div class="description">
                <a href="/u/Alberto/54bc29d823973845d5000002" title="Perfil de Alberto">Alberto</a>
                <span class="job-title">In Charge of the Big Door</span>
                <p>A veces quiere renunciar a todo y disfrutar de sus millones. Habla inglés, español, latín, latón y lámina acanalada. Sigue una dieta estricta de huevos revueltos con estrés. Le gusta la papaya. Escucha música banda a escondidas y edita los títulos de las canciones en su PC para que parezcan de Maroon 5. <br>Su juego favorito es Age of Empires 2.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="team-member">
              <a href="/u/nobody/547ffb2b23973839fc000001" title="Perfil de nobody">
                <img class="avatar" src="http://s3-us-west-1.amazonaws.com/spartan-board/users/55ea20807a4780260b000025-120x120.png" alt="nobody">
              </a>
              <div class="description">
                <a href="/u/nobody/547ffb2b23973839fc000001" title="Perfil de nobody">nobody</a>
                <span class="job-title">Chief Bug Creator</span>
                <p>Estadounidense refugiado a las afueras de la Ciudad de México. Viaja en moto y cuida gatitos. Nadie lo conoce realmente y no se sabe qué estudió, pero se dice que descifró el Código Da Vinci en 43 segundos. La mafia árabe le debe mucho dinero. Los bugs que crea los transforma en features, o al menos de eso convence a los demás. Escucha música celta y mongolian rap. <br>Su juego favorito es Rome: Total War.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
              <a href="/u/AcidRod/54e238652397381217000001" title="Perfil de AcidRod">
                <img class="avatar" src="http://s3-us-west-1.amazonaws.com/spartan-board/users/55f1d33e7a47807b820002d6-120x120.jpg" alt="AcidRod">
              </a>
              <div class="description">
                <a href="/u/AcidRod/54e238652397381217000001" title="Perfil de AcidRod">AcidRod</a>
                <span class="job-title">Dictator of Bits and Pixels</span>
                <p>99% del tiempo su cerebro piensa: meeeh, huh?, WTF, dobles-sentidos, comida, café, mezcal y cerveza artesanal. El otro 1% está dormido. Disfruta de gritar órdenes a la gente. Desarrolló algoritmos para hacer campeón al Cruz Azul, pero le robaron su USB en un Starbucks. Escucha música "neuroblending".  <br>Su juego favorito es The Legend of Zelda: Ocarina of Time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-40">
        <h4>Versión actual</h4>
        <p>Front end: <span class="software-version">Bakkhos 0.6.0 BETA</span>
        <br>Back end: <span class="software-version">Blacker - la que funcionaba ayer</span></p>
      </div>
    </div>
  </div>
</main>