<main class="global-content">
  <div class="container">
    <h2 style="margin-bottom: 2em;">Medallas</h2>

    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-medals">
            <tr>
              <th></th>
              <th></th>
              <th>Forma de obtenerla</th>
              <th>Medalla requerida</th>
              <th>Rango requerido</th>
            </tr>
            <tr ng-repeat="badge in misc.gaming.badges">
              <td>
                <span class="have-it" tooltip="Tienes esta medalla" ng-if="false">
                  <i class="fa fa-check"></i>
                </span>
              </td>
              <td>
                <span class="medal" ng-class="badge.type"><i class="circle"></i> {{ badge.name}}</span>
              </td>
              <td>{{ badge.description }}</td>
              <td>{{ badge.required_badge.name }}</td>
              <td>{{ misc.gaming.rules[badge.required_level].name }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Descripción de tipos de medallas</h4>
        <div class="medals-description">
          <span class="medal especial"><i class="circle"></i> Medalla Especial</span>
          <p>Las medallas especiales se adquieren cuando tienes un sentido de compromiso que sobrepasa a la comunidad virtual y nos ayudas a continuar con este proyecto. No queremos joyas y autos, simplemente poder vivir de esto y hacer de Spartan Geek la mejor comunidad de apasionados a la tecnología y videojuegos.</p>
          <hr>
          <span class="medal ropa"><i class="circle"></i> Medalla de Ropa</span>
          <p>Las medallas de ropa permiten demostrar tu riqueza y rango portando prendas distintivas.</p>
          <hr>
          <span class="medal arma"><i class="circle"></i> Medalla de Arma</span>
          <p>Las medallas de arma son un reconocimiento que adquieres gracias a tus habilidades en el campo de batalla tecnológico.</p>
          <hr>
          <span class="medal armadura"><i class="circle"></i> Medalla de Armadura</span>
          <p>Las medallas de armadura son el complemento perfecto que salvaguarda tu vida, no para estar a la defensiva, sino para ser más agresivo durante las peleas.</p>
          <hr>
          <span class="medal poder"><i class="circle"></i> Medalla de Poder</span>
          <p>Las medallas de poder... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
          <span class="medal contribucion"><i class="circle"></i> Medalla de Contribución</span>
          <p>Las medallas de contribución son obtenidas por aquellos miembros que están creando valor a la comunidad, ya sea a através de excelentes aportes o de cuidar el orden en la comunidad.</p>
        </div>
      </div>
    </div>

  </div>
</main>