<main class="global-content component">
  <div class="header">
    <div class="container">
      <div class="text-center">
        <h2>{{ type_labels[component.type] }}</h2>
        <h1>{{ component.full_name || component.name }}</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Especificaciones</h2>

        <table class="table">
          <tr ng-if="component.manufacturer">
            <th>Fabricante</th>
            <td>{{ component.manufacturer }}</td>
          </tr>
          <tr ng-if="component.model">
            <th>Modelo</th>
            <td>{{ component.model }}</td>
          </tr>
          <tr ng-if="component.part_number">
            <th>Número de parte</th>
            <td>{{ component.part_number }}</td>
          </tr>
          <tr ng-if="false">
            <th>Ancho de dato</th>
            <td>64-bit</td>
          </tr>
          <tr ng-if="false">
            <th>Socket</th>
            <td>LGA1150</td>
          </tr>
          <tr ng-if="false">
            <th>Velocidad</th>
            <td>4.0GHz</td>
          </tr>
          <tr ng-if="false">
            <th>Núcleos</th>
            <td>4</td>
          </tr>
          <tr ng-if="false">
            <th>Cache L1</th>
            <td>4 x 32KB Instruction<br>4 x 32KB Data</td>
          </tr>
          <tr ng-if="false">
            <th>Cache L2</th>
            <td>4 x 256KB</td>
          </tr>
          <tr ng-if="false">
            <th>Cache L3</th>
            <td>1 x 8MB</td>
          </tr>
          <tr ng-if="false">
            <th>Litografía</th>
            <td>22 nm</td>
          </tr>
          <tr ng-if="false">
            <th>Potencia de diseño térmico (TDP)</th>
            <td>88 Watts</td>
          </tr>
          <tr ng-if="false">
            <th>Incluye cooler de CPU</th>
            <td>Si</td>
          </tr>
          <tr ng-if="false">
            <th>Hyper-threading</th>
            <td>Si</td>
          </tr>
          <tr ng-if="false">
            <th>Gráficos integrados</th>
            <td>Intel HD Graphics 4600</td>
          </tr>
        </table>
      </div>
      <div class="col-md-7">
        <h2>Precios</h2>
        <table class="table">
          <tr>
            <th>Vendedor</th>
            <th>Precio</th>
            <th>Descuento</th>
            <th>Envío</th>
            <th>Disponibilidad</th>
            <th>Total</th>
            <th></th>
          </tr>

          <tr class="sg-product">
            <td>SpartanGeek</td>
            <td>$5,800</td>
            <td>-</td>
            <td>$100</td>
            <td>Si</td>
            <td>$5,900</td>
            <td tooltip="El precio publicado ya no es válido, debes esperar a que lo actualicemos para poder comprar" tooltip-placement="left"><i class="fa fa-shopping-cart"></i></td>
          </tr>

          <tr>
            <td>HiSO</td>
            <td>$5,900</td>
            <td>-</td>
            <td>$150</td>
            <td>Si</td>
            <td>$6,050</td>
            <td><i class="fa fa-shopping-cart hidden"></i></td>
          </tr>
          <tr>
            <td>Longview</td>
            <td>$6,200</td>
            <td>-</td>
            <td>$50</td>
            <td>Si</td>
            <td>$6,250</td>
            <td><i class="fa fa-shopping-cart hidden"></i></td>
          </tr>
        </table>

        <hr>
        <h2>Preguntas relacionadas</h2>
        <ul>
          <li>
            <a href="http://ilumineph.local:5757/p/-/55f37b2c7a4780586a000231">
              <h4>i7 4790k o i7 5930k ??</h4>
            </a>
            <p>¿Que procesador de intel me recomiendan para juar en 4k conectando un SLI o crossfire?</p>
            <hr>
            <div class="comment ng-scope">
              <div class="comment-author">
                <a href="/u/WarHell/54bf37cd23973814f6000025" title="Perfil de WarHell">
                  <img class="avatar ng-scope" alt="WarHell" src="http://s3-us-west-1.amazonaws.com/spartan-board/users/55f2637e7a4780586a00008a-120x120.png">
                </a>
                <div class="username">
                  <a href="/u/WarHell/54bf37cd23973814f6000025" title="Perfil de WarHell">
                    <strong class="ng-binding">WarHell</strong>
                  </a>

                  <div class="ng-binding">
                    <span class="level ng-binding">Spartan Commander •</span> Solo otro Spartan Geek más
                  </div>
                </div>
              </div>
              <div class="content ng-scope ng-isolate-scope">
                <p>Obviamente una 5930K es mejor con sus 6 núcleos, mayor cache, además se puede overclockear tanto como una 4790K. Y debes saber que el chipset X99 todavía permitirá instalar los procesadores Broadwell-E que saldrán en 2016 (las posibles 6820K, 6930K y 6960X). Asi que te dará opción de actualizar en un futuro. Mientras el chipset Z97 ya murió con la 4790K.</p>
              </div>
            </div>
          </li>
        </ul>
        <hr>
        <div class="text-right">
          <a href="#" class="btn btn-success"><span class="label">Crear nueva pregunta</span></a>
        </div>
      </div>
    </div>
  </div>
</main>