<div class="global-content">
  <div class="container">
    <section ng-if="onlyStore" class="hidden">
      <div class="banner">
        <img src="/images/shop/banners/nvidia.jpg" height="auto">
      </div>

      <div class="banner banner-empty visible-lg-inline-block">
        <p>Promoción disponible</p>
      </div>
    </section>

    <section ng-if="onlyStore" class="evga">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/evga-950.png">
        </div>
        <div class="col-md-6 copy">
          <h2>EVGA GTX 950</h2>
          <h3 class="hidden">Poderosa. Silenciosa. Lo que buscabas.</h3>
          <h3 class="hidden">Jugar cualquier juego nunca fue tan fácil.</h3>
          <h3>Juega en silencio. Juega al máximo.</h3>
          <section class="price">
            Muy pronto
            <span></span>
          </section>
          <a href="" class="btn btn-link btn-lg hidden">Más información <i class="fa fa-angle-right"></i></a>
          <a href="" class="btn btn-link btn-buy btn-lg hidden">Comprar ahora <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-md-9">
        <div class="search">
          <div class="hit-stats">
            <div class="stats">
              {{ results.nbHits }} Resultados
            </div>
          </div>
          <div class="components-list row">
            <div class="component col-md-6" ng-repeat="hit in results">
              <div class="row">
                <div class="col-md-3">
                  <div class="component-thumbnail">
                    <img ng-src="https://assets.spartangeek.com/components/{{ hit.image }}" alt="{{ hit.full_name || hit.name }}" ng-if="hit.image" class="portrait2">
                    <img src="/images/noimage.jpg" alt="{{ hit.full_name || hit.name }}" ng-if="!hit.image">
                  </div>
                </div>
                <div class="hit-content col-md-9">
                  <p class="hit-name"><a href="/componentes/{{ hit.type}}/{{ hit.slug }}">{{ hit.full_name || hit.name }}</a></p>
                  <p class="hit-part-number">{{ hit.part_number }}</p>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="hit-price" ng-class="{'not-available': hit.store.vendors.spartangeek.stock == 0}" ng-if="onlyStore">{{ hit.store.vendors.spartangeek.price | currency:'$ ':0 }}</p>
                    </div>
                    <div ng-class="{'col-sm-8': onlyStore, 'col-sm-12': !onlyStore}">
                      <div class="btn-toolbar">
                        <a href="#" class="btn btn-link btn-xs hidden" ng-if="hit.activated"><i class="fa fa-cart-plus"></i> Agregar a carrito</a>
                        <a href="#" class="btn btn-link btn-xs hidden"><i class="fa fa-desktop"></i> Agregar a mi lista</a>
                        <a href="/componentes/{{ hit.type}}/{{ hit.slug }}" class="btn btn-link btn-sm"><i class="fa fa-clone"></i> Ver detalles</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <uib-pagination ng-change="changePage()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="15" boundary-links="true" rotate="false"></uib-pagination>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Buscar</h4>
        <input type="text" class="form-control" ng-model="query" id="search-text" placeholder="Busqueda por componente, modelo, serie" autocomplete="off" autocorrect="off"  ng-keyup="do($event)" />

        <div class="switch-control">
          <switch id="enabled" name="enabled" ng-model="onlyStore" on="Si" off="No" class="sg"></switch>
          <span class="switch-label">Mostrar sólo componentes vendidos en SG</span>
        </div>

        <h4>Categorías</h4>
        <ul class="collections">
          <li ng-repeat="facet in facets" ng-class="{'active': facet.type == current_facet}">
            <a href="" ng-click="change_facet(facet.type)">{{ type_labels[facet.type] }} ({{ facet.count }})</a>
          </li>

          <li ng-if="current_facet != ''">
            <a href="" ng-click="change_facet('')">Mostrar todas</a>
          </li>
        </ul>

        <section class="hidden">
          <h4>Recomendaciones</h4>
          <ul class="collections">
            <li><a href="#">Los más vendidos</a></li>
            <li><a href="#">Los más vistos</a></li>
            <li><a href="#">Procesadores de menos de $3,000</a></li>
            <li><a href="#">Heroes of the Storm de regalo</a></li>
          </ul>
        </section>

      </div>

    </div>
  </div>
</div>