<main class="global-content massdrop">
  <div class="container">
    <div class="row mb-20">
      <div class="col-md-12">
        <h1>EVGA GeForce GTX 950 GAMING ACX 2.0</h1>

        <div class="btn-toolbar">
          <a href="" class="btn btn-default disabled">Tarjetas de video</a>
          <a href="" class="btn btn-fb"><i class="fa fa-facebook-official"></i> <span class="hidden-xs">Compartir en FB</span></a>
          <a href="" class="btn btn-twitter"><i class="fa fa-twitter"></i> <span class="hidden-xs">Compartir en Twitter</span></a>
        </div>
      </div>
    </div>
    <div class="row mb-40">
      <div class="col-md-8">

        <div class="cover">
          <img src="/images/massdrop/GTX-950.JPG">
        </div>

        <section class="checkpoints-diagram">
          <div class="cp-bar">
            <div class="current-progress" style="width: 30%"></div>
            <div class="current-progress-interested" style="width: 40%; left: 30%"></div>

            <div class="checkpoints">
              <div class="checkpoint" style="right: 75%;">
                <div class="details reached interested">
                  <h3>$ 3,449</h3>
                  <span class="persons-needed">5 personas</span>
                </div>
              </div>
              <div class="checkpoint" style="right: 50%;">
                <div class="details interested">
                  <h3>$ 3,299</h3>
                  <span class="persons-needed">10 personas</span>
                </div>
              </div>
              <div class="checkpoint" style="right: 0;">
                <div class="details">
                  <h3>$ 3,199</h3>
                  <span class="persons-needed">20 personas</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row current-stats">
            <div class="col-md-6">
              <div class="reached text-center"><strong>6</strong> Personas se unieron a la legión</div>
            </div>
            <div class="col-md-6">
              <div class="interested text-center"><strong>8</strong> Personas interesadas en unirse</div>
            </div>
          </div>
        </section>

        <p class="alert alert-info">Esto es una compra en legión. Si no sabes qué significa, revisa nuestra sección <strong><a href="/compra-en-legion/faq">"¿Qué es una compra en legión?"</a></strong> para encontrar más detalles.</p>

        <section>
          <h3>Descripción</h3>

          <section>
            <img src="/images/massdrop/GTX-950-1.JPG" style="width: 100%">
          </section>

          <h3>Refrigeración</h3>

          <section>
            <img src="/images/massdrop/GTX-950-2.JPG" style="width: 100%">
          </section>
        </section>

        <section>
          <h3>¿Qué incluye?</h3>
          <ul>
            <li>Tarjeta de video EVGA GeForce GTX 950 GAMING ACX 2.0</li>
            <li>Manuales de usuario</li>
            <li>Medalla de EVGA</li>
          </ul>
        </section>

        <section>
          <h3>Envío</h3>

          <p>Envíos nacionales hechos por SpartanGeek por diferentes paqueterías.</p>
          <p>Costo de envío: <strong>$ 139</strong> - No aplica en zona extendida. Se puede pagar con el crédito obtenido en la compra en legión.</p>
          <p>Fecha estimada de envío: <strong>Abril 18, 2016</strong>.</p>
          <p>Después de que termine la compra en legión, se enviará un correo a los participantes con más información.</p>
        </section>
      </div>
      <div class="col-md-4">
        <section class="mb-40">
          <div class="price">
            <h2>$ 3,499</h2>
            <span class="description">MSRP: $3,850</span>
            <span class="description">Ahorra desde 10%</span>
          </div>

          <table class="table">
            <tr>
              <th>Envíos a</th>
              <td>México</td>
            </tr>
            <tr>
              <th>Tiempo restante</th>
              <td>16 horas, 15 minutos</td>
            </tr>
            <tr>
              <th>Compra inmediata</th>
              <td><a href="">$ 3,599 en SpartanGeek</a></td>
            </tr>
          </table>

          <div class="buttons">
            <a href="/compra-en-legion/evga-gtx-950-acx/unirme" class="btn btn-block btn-success">Unirme a la legión</a>
            <a href="" class="btn btn-block btn-default">Estoy interesado</a>
            <a href="" class="btn btn-block btn-warning hidden">Estoy interesado</a>
            <a href="" class="btn btn-block btn-primary hidden">Estoy interesado</a>
          </div>
        </section>

        <section>
          <h4>Actividad reciente</h4>

          <div class="user-activity checkpoint">
            <a href="" title="Checkpoint alcanzado" class="avatar-container">
              <img class="avatar" src="/images/massdrop/icon_timeplus.png" alt="AcidRod">
            </a>
            <div class="username">
              <strong>Checkpoint</strong> alcanzado por la legión
            </div>
            <div class="description">
              Se agregaron <strong>24 horas</strong> a la <strong>compra en legión</strong>
            </div>
          </div>

          <div class="user-activity">
            <a href="/u/AcidRod/54e238652397381217000001" title="Perfil de AcidRod" class="avatar-container">
              <img class="avatar" ng-src="https://s3-us-west-1.amazonaws.com/spartan-board/users/56f8e3a465d4402c7f4ed052-120x120.png" alt="AcidRod" src="https://s3-us-west-1.amazonaws.com/spartan-board/users/56f8e3a465d4402c7f4ed052-120x120.png">
            </a>
            <div class="username">
              <a href="/u/AcidRod/54e238652397381217000001" title="Perfil de AcidRod" class="ng-binding">
                AcidRod
              </a>
            </div>
            <div class="description">
              Se unió hace 3 horas
            </div>
          </div>

          <div class="user-activity">
            <a href="/u/AcidRod/54e238652397381217000001" title="Perfil de AcidRod" class="avatar-container">
              <img class="avatar" ng-src="https://s3-us-west-1.amazonaws.com/spartan-board/users/56f8e3a465d4402c7f4ed052-120x120.png" alt="AcidRod" src="https://s3-us-west-1.amazonaws.com/spartan-board/users/56f8e3a465d4402c7f4ed052-120x120.png">
            </a>
            <div class="username">
              <a href="/u/AcidRod/54e238652397381217000001" title="Perfil de AcidRod" class="ng-binding">
                AcidRod
              </a>
            </div>
            <div class="description">
              Está interesado desde hace 4 horas
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</main>