<header>
  <video loop muted autoplay poster="/images/home-background.jpg" class="fullscreen-bg__video">
    <source src="/images/home-background.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Comunidad de {{ status.stats.users | number:0 }} entusiastas, expertos y curiosos.</span>
          <span class="skills">Videojuegos. Hardware. Tecnología.</span>
        </div>
      </div>
      <div class="col-md-12" ng-if="!user.isLogged">
        <div class="btn-toolbar-sg">
          <a href="#" class="btn btn-primary">Iniciar sesión</a>
          <a href="#" class="btn btn-success">Quiero crear una cuenta</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="/tienda" class="section-resume">
          <img src="/images/home-shop.png">
          <h2>Compra una PC</h2>
          <p>Usa nuestro asistente para que conozcamos tus necesidades y podamos ofrecerte una PC de acuerdo a tus necesidades y presupuesto.</p>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="/" class="section-resume">
          <img src="/images/home-forum.png">
          <h2>Resuelve tus dudas y ayuda a otros</h2>
          <p>Una sección específica donde puedes preguntar o leer acerca de diferentes temas.</p>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="/chat" class="section-resume">
          <img src="/images/home-chat.png">
          <h2>Chat</h2>
          <p>Platica con todos los spartanos de la comunidad.</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="window-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Resuelve tus dudas y ayuda a otros</h4>

        <p><strong>¿Tienes preguntas sobre tecnología, videojuegos, o cualquier otro tema geek?</strong> Publica tus dudas y seguramente tendrás respuestas.<br>
        <strong>¿Eres experto en algo?</strong> Ayuda a los demás y aumenta tu rango en la comunidad.</p>
        <hr>
        <h4>Una red social de apasionados a la tecnología</h4>

        <p>Olvídate de ver más fotos de bautizos y bodas. Haz amistad con miles de personas con tus mismos intereses, reúnete a jugar videojuegos o simplemente comparte tus mejores memes.</p>
        <hr>
        <h4>Tu nueva fuente de noticias y actualidad</h4>

        <p>Nuestra misión es compartir información de manera imparcial, sin favoritismos y con completa independencia. Si buscas informar o informarte, ésta es tu comunidad.</p>
      </div>


      <div class="col-md-4">
        <figure align="right">
        <img src="/images/home-browser.png" alt="SpartanGeek Window">
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="web-definition hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>¿Por qué SpartanGeek?</h2>
        <p>Spartan:<br><span>Guerreros de élite que jamás preguntarían "cuántos enemigos son", sino "dónde están".</span></p>
        <p>Geek:<br><span>Persona con un gran entendimiento o afición por algún tema: tecnología, películas, autos, etc.</span></p>
      </div>
    </div>
  </div>
</section>