  <main class="main-reader">
    <div class="row row-no-padding">
      <div class="col-md-4" ng-class="{'col-md-6': false, 'col-md-4': false, 'hidden-xs': activePostId !== null}">
        <div class="row row-no-padding">
          <div class="col-md-12">
            <div class="current-board">
              <div class="title">
                <div class="row">
                  <div class="col-md-7 col-xs-7">
                    <a href="/" class="btn btn-default btn-sm" ng-if="category.slug != null"><i class="fa fa-chevron-left"></i></a>
                    <h2>{{ category.name || "Todas las publicaciones" }}</h2>
                  </div>
                  <div class="col-md-5 col-xs-5 text-right">
                    <a href="/post/create/{{ category.slug }}" class="btn btn-primary btn-sm" ng-if="user.isLogged">Crear publicación</a>
                    <a href="" ng-click="signIn()" class="btn btn-primary btn-sm" ng-if="!user.isLogged">Crear publicación</a>
                  </div>
                </div>
              </div>

              <ul class="discussions-list always-visible" scroll-me="walkFeed()" ng-hide="resolving_posts" adjust-height-feed>
                <li data-id="{{ post.id }}" class="discussion-summary" ng-class="{'active': post.id === $parent.activePostId}" ng-repeat="post in posts" ng-cloak>
                  <div>
                    <a href="/u/{{ post.author.username }}/{{ post.author.id }}" title class="author" data-original-title="Escrito por {{ post.author.username }} hace {{ post.created_at | timeago }}">
                      <span class="avatar" title="{{ post.author.username }}" ng-if="!post.author.image">{{ post.author.username[0] }}</span>
                      <img class="avatar" ng-src="{{ post.author.image }}" alt="{{ post.author.username }}" ng-if="post.author.image">
                    </a>
                    <a href="/p/{{ post.slug }}/{{ post.id }}" class="main">
                      <h3 class="title">{{ post.title }}</h3>
                      <ul class="info">
                        <li class="">
                          <span>
                            Escrito por <span class="username">{{ post.author.username }}</span> <time>hace {{ post.created_at | timeago }}</time>
                          </span>
                        </li>
                      </ul>
                      <ul class="extra-info">
                        <li class="category" ng-if="category.slug === '' || true">
                          <span class="ball" ng-style="{'background-color': post.category.color}"></span>
                          <span class="name">{{ post.category.name }}</span>
                        </li>
                        <li class="pinned" ng-if="post.pinned">
                          <i class="fa fa-exclamation-circle"></i> <span>Importante</span>
                        </li>
                      </ul>
                    </a>
                    <span class="count">{{ post.comments.count }}<span class="label">{{ post.comments.count==1?'Respuesta':'Respuestas'}}</span></span>
                  </div>
                </li>
                <div class="resolving" style="position: relative; z-index: 1002;" ng-hide="resolving_posts"><i class="fa fa-circle-o-notch fa-spin"></i></div>
              </ul>

              <div class="resolving" ng-hide="!resolving_posts">
                <i class="fa fa-circle-o-notch fa-spin"></i>
              </div>

              <div class="segments">
                <h2>Categorías disponibles</h2>
                <div id="tags">
                  <div ng-repeat="c in categories" ng-class="{'active': category.slug === c.slug}">
                    <span class="ball" ng-class="{'empty': !c.color}" ng-style="{'background-color': c.color}"></span>
                    <a href="/c/{{ c.slug }}"><span class="name">{{ c.name }}</span></a>
                    <span class="count">{{ c.count }}</span>
                    <a href="/"><i class="fa fa-times" ng-if="category.slug === c.slug"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8" ng-class="{'col-md-6': false, 'col-md-8': false, 'hidden-xs': activePostId == null}">
        <div class="current-article" ng-controller="ReaderViewController" adjust-height>

          <div class="waiting" ng-show="waiting">
            <img src="/images/head.png" />
            <h4>Únete a la conversación</h4>
            <p>Puedes ver a la <strong>izquierda</strong> las publicaciones de otros espartanos, nuestros foros y nuestras recomendaciones, empieza viendo y únete a la conversación.</p>
          </div>

          <div ng-hide="waiting">
            <div class="back-to-list visible-xs-block">
              <a href="/" ng-click="activePostId = null"><i class="fa fa-chevron-left"></i> Regresar al listado de publicaciones</a>
            </div>
            <div class="author" ng-hide="resolving">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <span class="avatar" title="{{ post.author.username }}" ng-if="!post.author.image">{{ post.author.username[0] }}</span>
                  <img class="avatar" ng-src="{{ post.author.image }}" alt="{{ post.author.username }}" ng-if="post.author.image">
                </div>

                <div class="col-md-5 col-xs-10">
                  <div class="user-info">
                    <span class="username">{{ post.author.username }}</span>
                    <span class="verified-account" ng-if="post.author.id === '559af1c501c25d3790000054'" tooltip="Cuenta verificada" tooltip-placement="right"><i class="fa fa-check"></i></span>
                    <p class="description">{{ post.author.description || "Just another Spartan Geek" }}</p>
                  </div>
                </div>

                <div class="col-md-6 hidden-xs">
                  <div class="category-preview" ng-style="{'background-image': 'url(/images/boards/' + post.category.slug + '.png)'};">
                    <p class="category-label">{{ post.category.name }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="resolving" ng-hide="resolving == false">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>

            <div ng-hide="resolving">

              <nav class="discussion-nav">
                <ul>
                  <li class="primary-control">
                      <a class=" btn btn-primary" href="" ng-click="show_composer()" ng-if="user.isLogged">
                        <i class="fa fa-fw fa-reply icon"></i> <span class="label">Responder</span>
                      </a>
                      <a class=" btn btn-primary" href="" ng-click="signIn()" ng-if="!user.isLogged">
                        <i class="fa fa-fw fa-reply icon"></i> <span class="label">Quiero comentar</span>
                      </a>
                  </li>
                  <li class="title-control">
                    <div class="stream-scrubber dropdown">
                      <a href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        <span class="index">1</span> de <span class="count">{{ post.comments.count + 1}}</span> mensajes <i class="fa fa-fw fa-sort icon-glyph"></i>
                      </a>
                      <div class="dropdown-menu">
                        <div class="scrubber">
                          <a href="#" class="scrubber-first">
                            <i class="fa fa-fw fa-angle-double-up"></i> Mensaje original
                          </a>
                          <div class="scrubber-scrollbar" style="max-height: 285px; cursor: pointer; -webkit-user-select: none;">
                            <div class="scrubber-before" style="height: 55%;"></div>
                            <div class="scrubber-slider" style="height: 45%; cursor: move;">
                              <div class="scrubber-handle"></div>
                              <div class="scrubber-info" ng-cloak>
                                <strong><span class="index">1</span> de <span class="count">{{ post.comments.count + 1 }}</span> mensajes</strong>
                                <span class="description">{{ post.created_at | date_at }}</span>
                              </div>
                            </div>
                            <div class="scrubber-after" style="height: 0%;"></div>
                          </div>
                          <a href="#" class="scrubber-last"><i class="fa fa-fw fa-angle-double-down"></i> Ahora</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>

              <div class="discussion-posts">
                <h2 class="discussion-title">{{ post.title }}</h2>

                <div class="content" ng-if="post.type !== 'recommendations'" marked="post.content">
                </div>

                <div class="recommendations" ng-if="post.type === 'recommendations'">
                  <div class="content" marked="post.content"></div>
                  <div class="components">
                    <div ng-if="post.components.cpu.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/cpu.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Procesador <span class="status" ng-if="post.components.cpu.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.cpu.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.cpu.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.motherboard.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/motherboard.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Motherboard <span class="status" ng-if="post.components.motherboard.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.motherboard.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.motherboard.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.cabinet.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/cabinet.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Gabinete <span class="status" ng-if="post.components.cabinet.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.cabinet.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.cabinet.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.ram.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/ram.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Memoria RAM <span class="status" ng-if="post.components.ram.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.ram.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.ram.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.screen.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/screen.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Monitor <span class="status" ng-if="post.components.screen.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.screen.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.screen.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.videocard.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/videocard.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Tarjeta gráfica <span class="status" ng-if="post.components.videocard.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.videocard.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.videocard.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.power.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/power.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Fuente de Poder <span class="status" ng-if="post.components.power.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.power.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.power.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.storage.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/storage.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Almacenamiento <span class="status" ng-if="post.components.storage.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.storage.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.storage.content }}
                        </div>
                      </div>
                    </div>

                    <div ng-if="post.components.cooler.content" class="component">
                      <div class="row">
                        <div class="col-md-2 col-sm-3">
                          <img src="/images/components/cooler.png" alt="CPU" />
                        </div>

                        <div class="col-md-10 col-sm-9">
                          <h6>Enfriamento <span class="status" ng-if="post.components.cooler.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="post.components.cooler.status == 'owned'">Ya lo tengo</span></h6>
                          {{ post.components.cooler.content }}
                        </div>
                      </div>
                    </div>

                    <div class="component" ng-if="post.components.software">
                      <h6>Programas que utilizaré</h6>
                      {{ post.components.software }}
                    </div>
                  </div>
                </div>

                <div class="img-preview" ng-if="post.attach">
                  <p>Vista previa</p>
                  <a href="{{ post.attach.url }}" target="_blank" ng-if="post.attach.type === 'image'">
                    <img ng-src="{{ post.attach.url }}">
                  </a>
                </div>

                <div class="answers">
                  <h5>{{ post.comments.count }} respuesta{{post.comments.count == 1?'':'s'}}</h5>
                </div>

                <div class="comments">
                  <div class="comment" data-number="{{ comment.position }}" ng-repeat="comment in (post.comments.set | orderBy : 'position')">
                    <div class="comment-author">
                      <div class="row">
                        <div class="col-md-12">
                          <img class="avatar" ng-src="{{ comment.author.image }}" alt="{{ comment.author.username }}" ng-if="comment.author.image">
                          <span class="avatar" title="{{ comment.author.username }}" ng-if="!comment.author.image">{{ comment.author.username[0] }}</span>
                          <span class="username"><strong>{{ comment.author.username }}</strong> {{ comment.author.description }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="content" marked="comment.content"></div>

                    <div class="img-preview" ng-if="comment.attach">
                      <p>Vista previa</p>
                      <a href="{{ comment.attach.url }}" target="_blank" ng-if="comment.attach.type === 'image'">
                        <img ng-src="{{ comment.attach.url }}">
                      </a>
                    </div>

                    <span class="date dropdown" dropdown auto-close="outsideClick">
                      <a href="" class="dropdown-toggle" dropdown-toggle>
                        <time pubdate="" datetime="{{ comment.created_at }}" title="{{ comment.created_at | date_at}}">Escrito hace {{ comment.created_at | timeago}}</time>
                      </a>
                      <div class="dropdown-menu post-meta">
                        <span class="number">Comentario #{{ comment.position + 1 }}</span>
                        <span class="time">
                          <time pubdate="" datetime="{{ comment.created_at }}"> publicado el {{ comment.created_at | date_at}}</time>
                        </span>
                        <input class="form-control permalink" value="http://spartangeek.com/p/{{ post.slug }}/{{ post.id }}/{{ comment.position }}">
                      </div>
                    </span>


                    <div class="actions" ng-if="user.isLogged">
                      <ul>
                        <li ng-if="comment.votes.up > 0">
                          <span>A {{ comment.votes.up }} {{comment.votes.up==1?'persona le gusta':'personas les gusta'}} este comentario</span>
                        <li>
                        <li>
                          <a href="" ng-click="comment_like(post.id, comment)" ng-class="{'liked': comment.liked}"><i class="fa fa-thumbs-o-up"></i> Me gusta</a>
                        </li>
                        <li>
                          <a href="" ng-click="reply_to(comment.author.username)"><i class="fa fa-reply"></i> Responder</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="need-signin" ng-if="!user.isLogged">
                  <p>¿Quieres dejar un comentario? <a href="" ng-click="signIn()">Inicia sesión</a> o <a href="" ng-click="signUp()">Crea una cuenta</a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9">
                  <div ng-show="post.comments.count > 0 || force_comment == true || true" ng-if="user.isLogged">
                    <div class="idiot-wizzy">
                      <textarea id="comment-content" placeholder="Escribe tu comentario..." class="form-control flexible-height content" ng-model="comment.content" ng-disabled="waiting_comment"></textarea>
                      <div class="actions">
                        <ul>
                          <li ng-show="comment.content != ''">
                            <strong>**Negrita**</strong>
                          </li>
                          <li ng-show="comment.content != ''">
                            <em>*Itálica*</em>
                          </li>
                          <li style="margin-left: 3em;">
                            <a href="" ng-click="publish()" ng-class="{'disabled': waiting_comment == true || comment.content == ''}" class="btn btn-primary btn-sm">Publicar</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>