<main class="global-content text-content">
  <div class="container">
    <div class="row mb-40">
      <div class="col-md-8 col-md-offset-2">
        <section class="mb-40">
          <h1>Compras en legión</h1>

          <p>¡Ha llegado una nueva forma de comprar productos en SpartanGeek!</p>
          <p>Entre más personas compren el producto en el tiempo límite, mayor es el descuento que obtienen los participantes.</p>

          <p>Cada descuento se llama <strong>checkpoint</strong>, y está determinado por círculos que indican el precio final del producto, y la cantidad de personas que tienen que comprar el producto para hacer válido el descuento.</p>

          <img src="/images/massdrop/faq-1.png" class="img-responsive">

          <p>Cada <strong>checkpoint</strong> tiene un tiempo límite. Si te interesa el producto, no dejes correr el tiempo y únete a la legión.</p>

          <hr class="mb-20">

          <div class="row">
            <div class="col-md-6">
              <p>El precio para participar en la legión está en la publicación de la <em>compra en legión</em>.</p>
              <p>Si el precio final es menor al precio publicado, es decir, si se alcanza al menos un <strong>checkpoint</strong>, la diferencia será devuelta a los participantes con crédito que podrán usar en la tienda de SpartanGeek.</p>
              <p>Los participantes podrán usar este crédito para comprar productos o para pagar el envío de la <em>compra en legión</em>. La decisión es tuya.</p>
              <p><strong>No</strong> tienes que comprar el producto uniéndote a la legión, puedes comprar el producto con envío inmediato desde el link que te proporcionamos, pero recuerda, el descuento es sólo para los participantes de la legión.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <img src="/images/massdrop/faq-2.png" class="img-responsive">
            </div>
          </div>
          <hr class="mb-20">
        </section>

        <p>A continuación, dejamos un pequeño FAQ para que no te quedes con ninguna duda.</p>
        <hr class="mb-40">

        <div class="faq">
          <section>
            <h2>¿Qué es una compra en legión?</h2>
            <p>Los miembros de SpartanGeek pueden comprar productos a un precio especial participando en "compras en legión". Cada <strong>compra en legión</strong> dura aproximadamente entre 4-7 días e incluyen diferentes puntos de control que se irán desbloqueando dependiendo de cuantos miembros participen- más participantes significa un menor precio.</p>

            <p>El pago se captura al momento de ingresar a la <strong>compra en legión</strong>. SpartanGeek tiene en stock una cantidad de piezas listas para ser enviadas. Si ese número se sobrepasa, se conseguirán con el distribuidor y el tiempo de envío de esos productos podría incrementar. Una vez que están en el búnker spartano, se procede a hacer los envíos individuales a los participantes.</p>

            <p>Dependiendo del producto, el tiempo de entrega puede variar. Es por eso que cada <strong>compra en legión</strong> tiene un tiempo estimado de entrega distinto. El tiempo estimado de entrega puede encontrarse en la publicación de la <strong>compra en legión</strong> en la sección "Envío".</p>
          </section>

          <section>
          <h2>¿Hay algún límite en las unidades que puedo comprar en cada compra en legión?</h2>

            <p>En la mayoría de compras en legión, puedes comprar la cantidad que quieras. Entre más compres, mayor la cantidad que el precio va a disminuir para ti y para todo el grupo. Dicho esto, hay algunas compras en legión limitadas a ciertas unidades disponibles. Dichos límites se detallan en la descripción de la <strong>compra en legión</strong> del producto.</p>
          </section>

          <section>
            <h2>¿Qué pasa cuando termine la compra en legión?</h2>

            <p>Cuando la <strong>compra en legión</strong> termina, realizamos la compra del producto con el fabricante o distribuidor. El vendedor prepara la orden y nos envía los productos. Una vez que tenemos el producto en el búnker spartano, empacamos el producto para su envío individual y se envía a cada participante.</p>
          </section>

          <section>
            <h2>¿Puede una compra en legión terminar antes de tiempo?</h2>

            <p>Algunas compras en legión tienen un límite de unidades a comprar. Una vez que el límite es alcanzado, la <strong>compra en legión</strong> automáticamente se cerrará y nadie podrá comprar más unidades.</p>
          </section>

          <section>
            <h2>¿Qué pasa si no se junta suficiente gente a la compra en legión?</h2>

            <p>Si muy pocas personas se unen a la <strong>compra en legión</strong>, se dará el precio del último checkpoint alcanzado a todos los que se hayan unido.</p>

            <p>La <strong>compra en legión</strong> permanecerá pública y podrás usar el botón "Solicitar nuevamente" para ser notificado si la <strong>compra en legión</strong> se activa nuevamente y cuándo. Si hay suficientes solicitudes, haremos lo posible para hacer otra <strong>compra en legión</strong> en el futuro.</p>
          </section>

          <section>
            <h2>¿Donde puedo hacer preguntas sobre el producto?</h2>

            <p>Hacemos el mejor intento para tener información detallada y precisa sobre el producto en cada <strong>compra en legión</strong>.</p>

            <p>Si tienes una pregunta sobre el producto y no encuentras tu respuesta en la descripción, te sugerimos realizar la pregunta en la sección correspondiente a la página del producto o en el foro de discusión. La comunidad es muchas veces la mejor fuente de respuestas a preguntas muy específicas sobre el producto.</p>
          </section>

          <section>
            <h2>¿Quien elige los productos para compra en legión?</h2>

            <p>Los miembros de la comunidad pueden recomendar los productos que les gustaría que publiquemos. Dependiendo de la cantidad de gente que muestre interés, nos pondremos en contacto con el fabricante para intentar crear la <strong>compra en legión</strong>.</p>

            <p>Los productos que no hayan sido recomendados por los usuarios, son recomendaciones hechas por los fabricantes con los que ya hayamos hecho un trato o que son elegidos por nuestro equipo de ventas.</p>
          </section>

          <section>
            <h2>¿Cómo me convierto en vendedor o vendo a través de compra en legión?</h2>

            <p>Contacta al equipo de soporte de SpartanGeek con el asunto "Venta a legión".</p>

            <p>En tu correo, por favor mencionanos que producto(s) estás interesado en vender e incluye toda la información relevante de contacto incluyendo links a tu página web.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>