<div class="global-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h1>Lista actual de componentes</h1>

        <div class="components">
          <div ng-if="current_build.cpu.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/cpu.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Procesador <span class="status" ng-if="current_build.cpu.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.cpu.status == 'owned'">Ya lo tengo</span></h6>
                <p>{{ current_build.cpu.name }}</p>
              </div>
            </div>
          </div>

          <div ng-if="current_build.motherboard.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/motherboard.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Motherboard <span class="status" ng-if="current_build.motherboard.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.motherboard.status == 'owned'">Ya lo tengo</span></h6>
                <p>{{ current_build.motherboard.name }}</p>
              </div>
            </div>
          </div>

          <div ng-if="current_build.cabinet.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/cabinet.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Gabinete <span class="status" ng-if="current_build.cabinet.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.cabinet.status == 'owned'">Ya lo tengo</span></h6>
                {{ current_build.cabinet.name }}
              </div>
            </div>
          </div>

          <div ng-if="current_build.ram.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/ram.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Memoria RAM <span class="status" ng-if="current_build.ram.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.ram.status == 'owned'">Ya lo tengo</span></h6>
                {{ current_build.ram.name }}
              </div>
            </div>
          </div>

          <div ng-if="current_build.screen.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/screen.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Monitor <span class="status" ng-if="current_build.screen.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.screen.status == 'owned'">Ya lo tengo</span></h6>
                {{ current_build.screen.name }}
              </div>
            </div>
          </div>

          <div ng-if="current_build.videocard.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/videocard.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Tarjeta gráfica <span class="status" ng-if="current_build.videocard.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.videocard.status == 'owned'">Ya lo tengo</span></h6>
                <p ng-repeat="gpu in current_build.videocard">{{ gpu.name }}</p>
              </div>
            </div>
          </div>

          <div ng-if="current_build.power.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/power.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Fuente de Poder <span class="status" ng-if="current_build.power.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.power.status == 'owned'">Ya lo tengo</span></h6>
                {{ current_build.power.name }}
              </div>
            </div>
          </div>

          <div ng-if="current_build.storage.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/storage.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Almacenamiento <span class="status" ng-if="current_build.storage.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.storage.status == 'owned'">Ya lo tengo</span></h6>
                {{ current_build.storage.name }}
              </div>
            </div>
          </div>

          <div ng-if="current_build.cooler.name || true" class="component">
            <div class="row">
              <div class="col-md-1 col-sm-3">
                <img src="/images/components/cooler.png" alt="CPU" />
              </div>

              <div class="col-md-10 col-sm-9">
                <h6>Enfriamento <span class="status" ng-if="current_build.cooler.status == 'needed'">Lo necesito</span> <span class="status owned" ng-if="current_build.cooler.status == 'owned'">Ya lo tengo</span></h6>
                {{ current_build.cooler.name }}
              </div>
            </div>
          </div>

          <div class="component" ng-if="current_build.software">
            <h6>Programas que utilizaré</h6>
            {{ current_build.software }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>