<div class="global-content pc-builder">
  <div class="header header-light">
    <div class="container">
      <div>
        <h1>Lista actual de componentes</h1>
      </div>
    </div>
  </div>
  <div class="subheader">
    <div class="container">
      <nav class="navbar navbar-pcpp">
        <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a>Permalink:</a></li>
              <li class="dropdown">
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control permalink" value="https://spartangeek.com/computadoras/Ax7YFw">
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 380W</a></li>
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Guardar como...</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <table class="table components">
          <tr>
            <th>Componente</th>
            <th></th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Envío</th>
            <th>Donde</th>
            <th>Estado</th>
            <th></th>
          </tr>

          <tr class="component cpu">
            <td>
              <img src="/images/components/cpu.png" alt="CPU">
            </td>
            <td>
              <a href="{{ current_build.cpu.url }}">
                <img ng-src="{{ current_build.cpu.image }}">
              </a>
            </td>
            <td>
              <h6>Procesador</h6>
              <p><a href="{{ current_build.cpu.url }}">{{ current_build.cpu.name }}</a></p>
            </td>
            <td>{{ current_build.cpu.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.cpu.price.shipping == 0?'Gratis':(current_build.cpu.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.cpu.price.store }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component motherboard">
            <td>
              <img src="/images/components/motherboard.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.motherboard.image }}">
            </td>
            <td>
              <h6>Tarjeta Madre</h6>
              <p>{{ current_build.motherboard.name }}</p>
            </td>
            <td>{{ current_build.motherboard.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.motherboard.price.shipping == 0?'Gratis':(current_build.motherboard.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.motherboard.price.store }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Lo tengo</button>
                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component case">
            <td>
              <img src="/images/components/cabinet.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.cabinet.image }}">
            </td>
            <td>
              <h6>Gabinete</h6>
              <p>{{ current_build.cabinet.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.cabinet.name">Elegir gabinete</a>
            </td>
            <td>{{ current_build.cabinet.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.cabinet.price.shipping == 0?'Gratis':(current_build.cabinet.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.cabinet.price.store }}</td>
            <td>
              <div class="btn-group" ng-if="current_build.cabinet.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.cabinet.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component ram">
            <td>
              <img src="/images/components/ram.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.ram.image }}">
            </td>
            <td>
              <h6>Memoria RAM</h6>
              <p>{{ current_build.ram.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.ram.name">Elegir memoria RAM</a>
            </td>
            <td>{{ current_build.ram.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.ram.price.shipping == 0?'Gratis':(current_build.ram.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.ram.price.store }}</td>
            <td>
              <div class="btn-group" ng-if="current_build.ram.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.ram.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component monitor">
            <td>
              <img src="/images/components/screen.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.screen.image }}">
            </td>
            <td>
              <h6>Monitor</h6>
              <p>{{ current_build.screen.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.cabinet.name">Elegir monitor</a>
            </td>
            <td>{{ current_build.screen.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.screen.price.shipping == 0?'Gratis':(current_build.screen.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.screen.price.store }}</td>
            <td>
              <div class="btn-group" ng-if="current_build.screen.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.screen.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component gpu">
            <td>
              <img src="/images/components/videocard.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.videocard.image }}">
            </td>
            <td>
              <h6>Tarjeta de video</h6>
              <p>{{ current_build.videocard.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.videocard.name">Elegir tarjeta de video</a>
            </td>
            <td>{{ current_build.videocard.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.videocard.price.shipping == 0?'Gratis':(current_build.videocard.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.videocard.price.store }}</td>
            <td>
              <div class="btn-group" ng-if="current_build.videocard.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.videocard.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component psu">
            <td>
              <img src="/images/components/power.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.power.image }}">
            </td>
            <td>
              <h6>Fuente de poder</h6>
              <p>{{ current_build.power.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.power.name">Elegir fuente de poder</a>
            </td>
            <td ng-if="curren_build.power.price.value">{{ current_build.power.price.value | currency:'$ ':0 }}</td>
            <td ng-if="curren_build.power.price.value">{{ current_build.power.price.shipping == 0?'Gratis':(current_build.power.price.shipping | currency:'$ ':0) }}</td>
            <td ng-if="curren_build.power.price.value">{{ current_build.power.price.store }}</td>
            <td colspan="3" ng-if="!curren_build.power.price.value">
              <a href="" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Agregar precio</a>
            </td>
            <td>
              <div class="btn-group" ng-if="current_build.power.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.power.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component storage">
            <td>
              <img src="/images/components/storage.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.storage.image }}">
            </td>
            <td>
              <h6>Almacenamiento</h6>
              <p>{{ current_build.storage.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.storage.name">Elegir almacenamiento</a>
            </td>
            <td>{{ current_build.storage.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.storage.price.shipping == 0?'Gratis':(current_build.storage.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.storage.price.store }}</td>
            <td>
              <div class="btn-group" ng-if="current_build.storage.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.storage.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr class="component cooler">
            <td>
              <img src="/images/components/cooler.png" alt="CPU" />
            </td>
            <td>
              <img ng-src="{{ current_build.cooler.image }}">
            </td>
            <td>
              <h6>Enfriamiento</h6>
              <p>{{ current_build.cooler.name }}</p>
              <a href="" class="btn btn-default btn-xs" ng-if="!current_build.cooler.name">Elegir enfriamiento</a>
            </td>
            <td>{{ current_build.cooler.price.value | currency:'$ ':0 }}</td>
            <td>{{ current_build.cooler.price.shipping == 0?'Gratis':(current_build.cooler.price.shipping | currency:'$ ':0) }}</td>
            <td>{{ current_build.cooler.price.store }}</td>
            <td>
              <div class="btn-group" ng-if="current_build.cooler.name">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star"></i> Lo quiero</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="btn-toolbar" ng-if="current_build.cooler.name">
                <a href="" class="btn btn-primary btn-sm">Comprar</a>
                <a href="" class="btn btn-link btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>