      <main class="global-content">
        <div id="content">
          <div class="user-card hero user-hero" style="">
            <div class="darken-overlay"></div>
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-xs-12">
                  <div class="user-profile">
                    <h2 class="user-identity">
                      <div class="avatar-editor dropdown user-avatar" ng-class="{'loading': update.updating}" dropdown>
                        <img class="avatar" title="{{ profile.username }}" ng-src="{{ profile.image }}" ng-if="profile.image">
                        <span class="avatar" ng-if="!profile.image">{{ profile.username[0] }}</span>
                        <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-if="profile.id === user.info.id" dropdown-toggle ngf-drop ngf-change="upload($files)" ngf-accept="'image/*'" ngf-drag-over-class="dragover">
                          <i class="fa fa-fw fa-pencil icon" ng-if="!update.updating"></i>
                          <div class="loading-indicator" ng-if="update.updating">
                            <div class="spinner" style="position: absolute; width: 0px; z-index: auto; left: 18%; font-size: 14px;" role="progressbar">Cargando</div>
                          </div>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="" ngf-select ngf-change="upload($files)" ngf-multiple="false" ngf-accept="'image/*'">
                              <i class="fa fa-fw fa-upload icon"></i> Subir imagen
                            </a>
                          </li>
                          <li ng-if="user.info.facebook" class="hidden">
                            <a href="" ng-click="use_fb_pic()">
                              <i class="fa fa-fw fa-code-fork icon"></i> Usar foto de FB
                            </a>
                          </li>
                          <li ng-if="user.info.image" class="hidden">
                            <a href="" ng-click="remove_pic()"><i class="fa fa-fw fa-times icon"></i> Eliminar</a>
                          </li>
                        </ul>
                      </div>
                      <span class="username" ng-if="!update.editing_username">{{ profile.username }}</span>
                      <span class="verified-account" ng-if="profile.validated" tooltip="Cuenta verificada" tooltip-placement="right"><i class="fa fa-check"></i></span>
                      <span class="edit" ng-if="user.info.name_changes < 1 && profile.id === user.info.id">
                        <a href="" ng-click="update.editing_username = true" ng-if="!update.editing_username">Editar nombre de usuario</a>
                        <div class="" ng-if="update.editing_username" style="display: inline-block">
                          <div class="input-group">
                            <input name="description" type="text" class="form-control" placeholder="Escribe tu nombre de usuario" ng-model="new_data.username" maxlength="32" popover="{{ !new_data.username_error?'Sólo puedes cambiar tu nombre de usuario una vez, hazlo sabiamente.':new_data.username_error_message }}" popover-placement="bottom" ng-change="check_username()" ng-class="{'has-error': new_data.username_error}">
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-sm" type="button" ng-click="saveUsername()" ng-disabled="new_data.username_error || new_data.username_saving">Guardar nombre de usuario</button>
                            </span>
                            <span class="input-group-btn">
                              <button class="btn btn-danger btn-sm" type="button" ng-click="update.editing_username = false">Cancelar</button>
                            </span>
                          </div>
                        </div>
                      </span>
                    </h2>
                    <ul class="user-info">
                      <li class="block-item">
                        <div class="user-bio" ng-class="{'editable': (profile.id === user.info.id && false)}">
                          <div class="bio-content" ng-click="update.editing_desc = false" ng-if="!update.editing_desc">
                            <p>{{ profile.description || 'Escribe una breve descripción' }}</p>
                          </div>
                          <input name="description" type="text" class="form-control" placeholder="Escribe una breve descripción" ng-if="update.editing_desc" ng-model="profile.description">
                        </div>
                      </li>
                      <li class="hidden">
                        <span class="user-last-seen online">
                          <i class="fa fa-fw fa-circle"></i> Online
                        </span>
                      </li>
                      <li class="">Es espartano desde {{ profile.created_at | timeAgo }}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 text-right">
                  <div ng-if="can('debug')">
                    <a href="" class="btn btn-default btn-sm">
                      <span class="label">Convertir en Troll</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="sidebar-menu">
                  <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ng-class="{active: current_page == 'info'}">
                      <a href="" ng-click="current_page = 'info'">Información</a>
                    </li>
                    <li role="presentation" ng-class="{active: current_page == 'feed'}">
                      <a href="" ng-click="current_page = 'feed'">Publicaciones <span class="count hidden">2</span></a>
                    </li>
                    <li role="presentation" ng-class="{active: current_page == 'comments'}">
                      <a href="" ng-click="current_page = 'comments'">Comentarios <span class="count">{{ comments.count }}</span></a>
                    </li>
                    <li role="presentation" class="hidden">
                      <a href="">Juegos <span class="count hidden">25</span></a>
                    </li>
                    <li role="presentation" ng-class="{active: current_page == 'ref'}">
                      <a href="" ng-click="current_page = 'ref'">Amigos invitados</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-9">
                <div class="offset-content user-content" ng-if="current_page == 'feed'">
                  <div ng-if="posts.length == 0">
                    <p class="alert alert-info" ng-if="user.info.id !== profile.id">Este usuario aún no creado ninguna publicación.</p>
                    <p class="alert alert-info" ng-if="user.info.id === profile.id">Aún no has creado ninguna publicación. ¿Qué esperas?</p>
                  </div>
                  <div class="user-activity" ng-if="posts.length > 0">
                    <ul class="activity-list">
                      <li ng-repeat="post in posts">
                        <div>
                          <img class="avatar activity-icon" title="{{profile.username}}" src="{{ profile.image }}" ng-if="profile.image">
                          <span class="avatar activity-icon" ng-if="!profile.image">{{ profile.username[0] }}</span>
                          <div class="activity-info">
                            <strong>Escribió una publicación</strong>
                            <time datetime="{{post.created_at}}" time-ago from-time="{{post.created_at}}"></time>
                          </div>
                          <a href="/p/{{post.slug}}/{{post.id}}" class="activity-content post-activity">
                            <ul class="list-inline">
                              <li class="item-title ">
                                <h3 class="title">{{ post.title }}</h3>
                              </li>
                            </ul>
                            <div class="body"></div>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="offset-content user-content" ng-if="current_page == 'comments'">
                  <div ng-if="comments.count == 0">
                    <p class="alert alert-info" ng-if="user.info.id !== profile.id">Este usuario aún no ha comentado en ninguna publicación.</p>
                    <p class="alert alert-info" ng-if="user.info.id === profile.id">Aún no has dejado ningún comentario. ¿Qué esperas?</p>
                  </div>
                  <div class="user-activity" ng-if="comments.count > 0">
                    <ul class="activity-list">
                      <li ng-repeat="comment in comments.activity">
                        <div>
                          <img class="avatar activity-icon" title="{{profile.username}}" src="{{ profile.image }}" ng-if="profile.image">
                          <span class="avatar activity-icon" ng-if="!profile.image">{{ profile.username[0] }}</span>
                          <div class="activity-info">
                            <strong>Comentó una publicación</strong>
                            <time datetime="{{comment.created_at}}" time-ago from-time="{{comment.created_at}}"></time>
                          </div>
                          <a href="/p/{{comment.slug}}/{{comment.related_id}}" class="activity-content post-activity">
                            <ul class="list-inline">
                              <li class="item-title ">
                                <h3 class="title">{{ comment.title }}</h3>
                              </li>
                            </ul>
                            <div class="body">{{ comment.content}}</div>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="offset-content user-content" ng-if="current_page == 'info'">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="rank">
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <img ng-src="/images/gamification/ranks/{{ profile.gaming.level }}.png" alt="" style="width: 75px;" ng-cloak>
                          </div>
                          <div class="col-md-12">
                            <div class="description text-center">{{ misc.gaming.rules[profile.gaming.level].name }}</div>
                            <div class="progress" ng-if="profile.gaming.level < 16">
                              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{profile.gaming.ratio}}%;">
                                <span class="sr-only">{{profile.gaming.ratio}}%</span>
                              </div>
                            </div>
                            <div class="experience-points">
                              {{ profile.gaming.swords }} Espadas
                            </div>
                            <div>
                              <span class="next-level cold" ng-if="profile.gaming.level < 16">
                                {{profile.gaming.remaining}} espadas para <a href="/rangos">{{ misc.gaming.rules[profile.gaming.level + 1].name }}</a>
                              </span>
                              <div class="next-level-block">
                                <img ng-src="/images/gamification/ranks/{{ profile.gaming.level + 1 }}.png" alt="" style="width: 54px;" ng-cloak>
                              </div>
                              <div class="text-center">
                                <a href="/rangos">Ver todos los rangos</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                      <h3>Medallas</h3>
                      <p class="alert alert-info" ng-if="user.info.id !== profile.id && !profile.gaming.badges.length">Este usuario no tiene medallas.</p>
                      <p class="alert alert-info" ng-if="user.info.id === profile.id && !profile.gaming.badges.length">Aún no tienes medallas, pero podrás conseguirlas con monedas.</p>

                      <div ng-repeat="badge in profile.gaming.badges" class="badge-container">
                        <div class="badge-preview">
                          <img ng-src="/images/gamification/badges/{{ badge.slug }}.png">
                        </div>
                        <span class="medal" ng-class="badge.type"><i class="circle"></i> {{ badge.name}}</span>
                      </div>
                      <br>
                      <a href="/medallas" alt="Medallas de SpartanGeek">Revisa la lista de medallas aquí.</a>
                    </div>
                  </div>
                  <hr>
                  <p class="alert alert-success hidden">Tus datos se han actualizado correctamente.</p>
                  <div class="row hidden">
                    <div class="col-md-12">
                      <h3>Información adicional</h3>
                    </div>
                    <div class="col-sm-6 margin-btm40">
                      <h4>Mi pc actual</h4>
                      <div class="components">
                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/cpu.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns">
                              <h6>Procesador <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.cpu.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/motherboard.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Motherboard <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.motherboard.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/cabinet.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Gabinete <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.case.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/ram.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Memoria RAM <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.ram.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/screen.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Monitor <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.monitor.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/videocard.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Tarjeta grafica <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.gpu.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/power.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Fuente de Poder <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.psu.fullname }}
                            </div>
                          </div>

                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/storage.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Almacenamiento <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.storage.fullname }}
                            </div>
                          </div>
                        </div>

                        <div class="component">
                          <div class="row">
                            <div class="col-md-2 columns">
                              <img src="/images/components/cooler.png" alt="CPU">
                            </div>

                            <div class="col-md-10 columns ng-binding">
                              <h6>Enfriamento <span class="status verified" ng-if="false">Verificado</span></h6>
                              @{{ profile.pc.cpu_cooler.fullname }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h4>Gamer Tags</h4>
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <th>Nintendo Wii Code</th>
                            <td>-</td>
                          </tr>
                          <tr>
                            <th>PS Network</th>
                            <td>-</td>
                          </tr>
                          <tr>
                            <th>Xbox Live</th>
                            <td>-</td>
                          </tr>
                          <tr>
                            <th>Steam ID</th>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row hidden">
                    <div class="col-sm-6">
                      <h3>Mis juegos (25)</h3>
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="http://cdn2.pitchfork.com/news/57496/d287b2ab.jpeg" style="max-width: 100px" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                          <h4>Grand Theft Auto V</h4>
                          <span class="label label-primary">PC</span>
                          <br>
                          <strong>Mi calificación:</strong> 10
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="http://www.workingpcgames.com/wp-content/uploads/2014/10/Far-Cry-3.jpg" style="max-width: 100px" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                          <h4>Far Cry 3</h4>
                          <span class="label label-primary">PC</span>
                          <br>
                          <strong>Mi calificación:</strong> 9
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="offset-content user-content" ng-if="current_page == 'ref'">
                  <h2>Amigos invitados</h2>

                  <p ng-if="profile.referrals.count == 0 && user.info.id === profile.id">Ningún usuario se ha registrado por invitación tuya.</p>
                  <p ng-if="profile.referrals.count == 0 && user.info.id !== profile.id">Ningún usuario se ha registrado por invitación de {{ profile.username }}.</p>

                  <p ng-if="profile.referrals.count > 0 && user.info.id === profile.id">Esta lista es de los usuarios que se han registrado a SpartanGeek por invitación tuya:</p>
                  <p ng-if="profile.referrals.count > 0 && user.info.id !== profile.id">Esta lista es de los usuarios que se han registrado a SpartanGeek por invitación de {{ profile.username }}:</p>

                  <div ng-if="profile.referrals.count > 0">
                    <a href="/u/{{ user.username}}/{{ user.id }}" class="author" tooltip="{{ user.username }}" ng-repeat="user in profile.referrals.users">
                      <img class="avatar" alt="{{ user.username }}" ng-src="{{ user.image }}" ng-if="user.image">
                      <span class="avatar" title="{{ user.username }}" ng-if="!user.image">{{ user.username[0] }}</span>
                    </a>
                    <p ng-if="profile.referrals.count > 10">Y otros {{ profile.referrals.count - 10 }} usuarios más</p>
                  </div>

                  <hr>

                  <div ng-if="user.info.id == profile.id">
                    <h3>Invita a más amigos</h3>

                    <p>Puedes invitar a más amigos usando el siguiente link:</p>

                    <pre>http://spartangeek.com/?ref={{ user.info.ref_code }}</pre>

                    <p>Por cada usuario que se registre usando tu código y validando su cuenta, se te contará como referencia. Cualquier cuenta registrada con Facebook se valida automáticamente.</p>

                    <table class="table table-acq">
                      <thead>
                        <tr>
                          <th>Amigos registrados por invitación tuya</th>
                          <th>Regalo</th>
                          <th>Límite</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>5</td>
                          <td>
                            <ul>
                              <li>Medalla especial</li>
                            </ul>
                          </td>
                          <td>1 semana</td>
                        </tr>
                        <tr>
                          <td>20</td>
                          <td>
                            <ul>
                              <li>Medalla especial</li>
                              <li>100 espadas</li>
                            </ul>
                          </td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>50</td>
                          <td>
                            <ul>
                              <li>2 Medallas especiales</li>
                              <li>250 espadas</li>
                            </ul>
                          </td>
                          <td>50 primeros usuarios</td>
                        </tr>
                        <tr>
                          <td>100</td>
                          <td>
                            <ul>
                              <li><strong>1 Playera Spartana</strong></li>
                              <li>1 Medalla <sup>1</sup></li>
                              <li>500 espadas</li>
                            </ul>
                          </td>
                          <td>100 primeros usuarios</td>
                        </tr>
                        <tr>
                          <td>300</td>
                          <td>
                            <ul>
                              <li><strong>1 Playera Spartana</strong></li>
                              <li>2 Medallas especiales</li>
                              <li>1500 espadas</li>
                              <li>1 caja de cervezas <sup>2</sup></li>
                              <li>1 componente de hardware para PC <sup>3</sup></li>
                            </ul>
                          </td>
                          <td>25 primeros usuarios</td>
                        </tr>
                        <tr>
                          <td>1000</td>
                          <td>
                            <ul>
                              <li><strong>1 Playera Spartana</strong></li>
                              <li>1 Medalla especial</li>
                              <li>1500 espadas</li>
                              <li>1 caja de cervezas <sup>2</sup></li>
                              <li>1 componente de hardware para PC <sup>3</sup></li>
                              <li>Upgrade a tu PC <sup>4</sup></li>
                            </ul>
                          </td>
                          <td>5 primeros usuarios</td>
                        </tr>
                      </tbody>
                    </table>

                    <ol>
                      <li>Medalla por ser dueño de una playera Spartana. Sólo se dará en caso de que no ser ya dueño de esta medalla.</li>
                      <li>Caja de chelas como la que se vio el día de weba del 19 de Septiembre de 2015. Sólo para mayores de edad con identificación oficial.</li>
                      <li>A elección del staff de SpartanGeek</li>
                      <li>A elección del staff de SpartanGeek</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>