<main class="application">
  <div class="row row-no-padding full-width publish">

    <div class="col-md-9">
      <div class="publish-content" ng-hide="postComponents">
        <input type="text" ng-model="postTitle" class="title" placeholder="Ingresa un titulo para tu post" />
        <div class="toolbar">
          <nav>
            <div class="block">
              <a href=""><i class="fa fa-bold"></i></a>
              <a href=""><i class="fa fa-italic"></i></a>
              <a href=""><i class="fa fa-underline"></i></a>
            </div>

            <div class="block">
              <a href=""><i class="fa fa-list"></i></a>
              <a href=""><i class="fa fa-link"></i></a>
              <a href=""><i class="fa fa-camera-retro"></i></a>
            </div>

            <div class="block">
              <a ng-click="activateComponents()" href="" ng-show="postCategory.slug=='recommendations' && postComponents==false">Quiero publicar una PC</a>
            </div>
          </nav>
        </div>

        <div class="editable-content" ng-model="postContent" ng-class="{active: contentFocused}" ng-focus="cleanContent()" contenteditable>
        </div>

        <a ng-click="normalPostPublish()" class="btn btn-primary btn-lg btn-publish">Publicar Ahora</a>
      </div>

      <div class="publish-content componently ng-hide" ng-show="postComponents">
        <input type="text" ng-model="postTitle" class="title" placeholder="Nombra a tu PC" />
        <div class="toolbar">
          <nav>
            <div class="block">
              <a href=""><i class="fa fa-bold"></i></a>
              <a href=""><i class="fa fa-italic"></i></a>
              <a href=""><i class="fa fa-underline"></i></a>
            </div>

            <div class="block">
              <a href=""><i class="fa fa-list"></i></a>
              <a href=""><i class="fa fa-link"></i></a>
              <a href=""><i class="fa fa-camera-retro"></i></a>
            </div>
          </nav>
        </div>

        <div class="row row-recover">
          <div class="col-md-5">
            <div class="editable-content" ng-model="postContent" ng-class="{active: contentFocused}" ng-focus="cleanContent()" contenteditable>
            </div>
          </div>
          <div class="col-md-7 components-section">
            <h6>Presupuesto para tu PC</h6>

            <div class="row row-no-padding component budget" style="margin-bottom: 2rem">
              <div class="col-md-4"><div class="select">
                  <select ng-model="computerPost.budget" ng-options="budget.label for budget in budgetFlexibility"></select>
                </div></div>
              <div class="col-md-4"><input type="text" ng-model="computerPost.components.budget" placeholder="10500" /></div>
              <div class="col-md-4">
                <div class="select">
                  <select ng-model="computerPost.components.budget_currency"><option value="MXN">Pesos Mexicanos</option><option value="USD">Dolares</option></select>
                </div>
              </div>
            </div>

            <h6>Componentes</h6>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Procesador</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.cpu.value" placeholder="(Ej. AMD FX-8320 8-Core 3.5 Ghz)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.cpu.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Motherboard</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.motherboard.value" placeholder="(Ej. ASUS M5A99FX PRO R2.0)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.motherboard.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">RAM</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.ram.value" placeholder="(Ej. Corsair Vengeance 8GB 1600MHz DDR3)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.ram.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Almacenamiento</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.storage.value" placeholder="(Ej. SSD Samsung 840 PRO 512GB)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.storage.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Cooler del CPU</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.cooler.value" placeholder="(Ej. Phanteks PH-TC14PE_BK)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.cooler.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Fuente de poder</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.power.value" placeholder="(Ej. Corsair AX760 760W 80 PLUS Platinum)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.power.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Gabinete</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.cabinet.value" placeholder="(Ej. Corsair Graphite 600T)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.cabinet.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Tarjeta de video</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.videoCard.value" placeholder="(Ej. Gigabyte NVIDIA GeForce GTX 780 Ti 3GB GDDR)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.videoCard.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-3"><span class="component-name">Monitor</span></div>
              <div class="col-md-6"><input type="text" ng-model="computerPost.components.screen.value" placeholder="(Ej. ASUS VG278HE 27 pulgadas Full-HD 2ms)" /></div>
              <div class="col-md-3">
                <div class="select">
                  <select ng-model="computerPost.components.screen.owned"><option value="true">Lo tengo</option> <option value="false">Lo necesito</option></select>
                </div>
              </div>
            </div>

            <div class="row row-no-padding component">
              <div class="col-md-12">
                <h6>Videojuegos o programas que utilizare</h6>

                <input type="text" ng-model="computerPost.components.software" class="only" placeholder="(Ej. Minecraft, Battlefield 4, Photoshop CS6)" />
              </div>
            </div>
          </div>
        </div>
        <a ng-click="computerPostPublish()" class="publish-button">Publicar Ahora</a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="sidebar" adjust-height>
        <div class="config">
          <h4>Categoria</h4>
          <div class="category">
            <select ng-options="category.name for category in categories" ng-model="postCategory">
              <option>Seleccionar categoria</option>
              <option>PC's Spartanas</option>
            </select>
          </div>
        </div>

        <div class="config thumbnail hidden">
          <h4>Thumbnail</h4>

          <div class="upload">
            <label>
              <span><i class="fa fa-camera"></i> Subir imagen</span>
            </label>
          </div>
        </div>

        <div class="config">
          <h4>¿Es una pregunta?</h4>
          <div class="question">
            <div class="check">
              <input type="checkbox" value="None" id="is_question" name="check" />
              <label for="is_question"></label>
            </div>
          </div>
          <p>De esta forma decidimos a quien mostrar tu publicación, a espartanos que responden o que buscan respuestas.</p>
        </div>

        <div class="config">
          <a ng-click="computerPostPublish()" class="btn btn-block btn-primary">Publicar Ahora</a>
        </div>
      </div>
    </div>
  </div>
</main>