<main class="global-content">
  <div class="container">
    <h2 class="text-center" style="margin-bottom: 2em;">Rangos</h2>
    <div class="row">
      <div class="col-md-3 col-xs-12 col-sm-6 text-center" ng-repeat="i in [] | range:17">
        <div class="rank-info" ng-class="{my: i === user.info.gaming.level}">
          <img ng-src="/images/gamification/ranks/{{ i }}.png" alt="" ng-cloak>
          <div class="description text-center">{{ misc.gaming.rules[i].name }}</div>
          <ul>
            <li>
              <span class="count">{{misc.gaming.rules[i].swords_start | number:0}}</span>
              <span class="detail">Espadas mínimas</span>
            </li>
            <li>
              <span class="count">{{misc.gaming.rules[i].tribute}}</span>
              <span class="detail">Tributo diario</span>
            </li>
            <li>
              <span class="count">{{misc.gaming.rules[i].shit}}</span>
              <span class="detail">Mierda diaria</span>
            </li>
            <li>
              <span class="count">{{misc.gaming.rules[i].coins}}</span>
              <span class="detail">Monedas por login diario</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>