<main class="global-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-xs" style="height: 200px; background: #eee;"></div>
      <div class="col-md-7 col-md-offset-1 rules">

        <h1>Reglas, Guía de Uso y Comportamiento</h1>

        <p>Es un verdadero gusto que formes parte de SpartanGeek.com.</p>
        <p>Como en todo grupo social que se reúne para un fin común, hay algunas reglas que todos debemos seguir para asegurar la continuidad de esta comunidad y tener una correcta participación de todos los integrantes.</p>
        <p>Si te da pereza leer (que no debería, porque estás en un lugar donde leer y comprender lo que dicen los demás es vital para interactuar adecuadamente y aumentar tu reputación), las reglas se podrían resumir en lo siguiente:</p>
        <ul>
          <li>Lee, no seas huevón</li>
          <li>Sé amable con los demás</li>
          <li>Respeta que no todos coincidan en tus preferencias y con tus opiniones </li>
          <li>Utiliza tu sentido común</li>
          <li>No violes ninguna ley</li>
        </ul>

        <p>A continuación damos más detalles sobre las Reglas de este sitio. Si tienes alguna pregunta o inquietud sobre las reglas, lineamientos o políticas expresadas aquí, puedes comunicarte con los administradores de la comunidad y con el equipo de SpartanGeek.com autorizado a dar solución o respuesta a dichas consultas.</p>

        <h3>Reglas y Guía de Comportamiento de la Comunidad Spartana</h3>

        <p>Estas reglas aplican para todas las categorías de foros de discusión, artículos, blogs, catálogos, chats o cualquier otro servicio prestado por SpartanGeek.com en donde el usuario tenga interactividad con la comunidad. Adicionalmente, aplican para todos los contenidos creados o compartidos por el usuario en donde se incluyen, pero no se limitan, a firmas, avatares, perfiles e imágenes o videos publicados.</p>

        <ol>
          <li><strong>Una cuenta por persona</strong>: aunque cualquier persona está en libertad de abrir las cuentas de usuario que desee en SpartanGeek.com, cuando esta práctica se utiliza para engañar de alguna forma a otros usuarios o al sistema, la consideramos como abusiva. Si se presenta el caso, podremos eliminar todas las cuentas que encontremos en violación a esta regla.</li>
          <li><strong>Sé tolerante y no lo tomes personal</strong>: Si algo que ves o lees no concuerda con lo que tú crees, o si alguien no coincide con tus opiniones, gustos o preferencias, simplemente coméntalo de una manera diplomática y amable, o ignóralo y sigue tu contribución en otra parte de la comunidad. La diferencia de opiniones no es algo que debas tomarte como insulto o ataque personal.</li>
          <li><strong>Utiliza títulos que expliquen tu publicación</strong>: No publiques títulos poniendo solamente frases como “Ayuda”, “No sé qué hacer”, “xD”, “Recomendación”, o cualquier otra cosa que no explique tu tema. Nuestros algoritmos van a penalizar dichas publicaciones, incluso cuando en la descripción expliques perfectamente tu problema. La única excepción para publicar cualquier título es el <em>Bar Spartano</em>.</li>
          <li><strong>Uso de mayúsculas y caracteres especiales en títulos</strong>: No se deben escribir títulos completamente en mayúsculas, o utilizar cualquier otro carácter con el fin de llamar la atención. La gente irá a tu publicación si el título lo definiste claramente y si el tema es interesante para ellos, no hay más ciencia.</li>
          <li><strong>Explica y escribe bien tu tema, pregunta o aportación</strong>: Haz un esfuerzo por leer una vez más el texto donde describes tu pregunta o comentario ANTES DE PUBLICAR. Procura que esté lo mejor explicado que puedas, que no esté incompleto, y que sea fácil de comprender. Todo eso ayuda a que los demás contribuyan y a que aumentes tu reputación en la comunidad.</li>
          <li><strong>Las publicaciones repetidas serán eliminadas</strong>: no se permite crear una publicación igual, o con tópico similar, por la misma persona. Será de total decisión del moderador si los temas repetidos de una persona se eliminan o se consolidan todos en uno solo.</li>
          <li><strong>Mayúsculas</strong>: No escribas todo en mayúsculas ni tampoco <em>AbUSeS dE ELlAs</em>.</li>
          <li><strong>Enlaces de referidos</strong>: no pueden usarse enlaces de afiliados, comisiones o referidos en ninguna parte dentro de la comunidad, y que sean externos a SpartanGeek.con. Si deseas publicar enlaces de este tipo y consideras que no están en contra de la transparencia y fines de esta comunidad, debes solicitar la autorización correspondiente.</li>
          <li><strong>Las publicaciones deben ser relacionados a su categoría</strong>: si deseas colocar un tema que se salga muy abruptamente de las categorías de la comunidad, te pedimos que utilices la sección de Bar Spartano para hacerlo. Damos la bienvenida a temas de discusión general, pero los rechazamos en las otras secciones.</li>
          <li><strong>No hagas SPAM</strong>: No hagas SPAM, no hagas SPAM, no hagas SPAM, no hagas SPAM.</li>
          <li><strong>Compartir tu canal de Youtube</strong>: Si tienes un canal de Youtube, eres completamente libre de compartir tu contenido con la comunidad y de hecho te invitamos a hacerlo, siempre y cuando no esté en contra de las reglas y nuestra guía de buen uso. Trata de que los demás no lo consideren como SPAM, porque recibirás reacciones que podrán perjudicarte en tu rango y reputación.</li>
          <li><strong>Videos, canales de Youtube y links a otras comunidades</strong>: SpartanGeek.com no es un sitio creado con el fin de servir como plataforma para apoyar canales, videos o comunidades que no sean de integrantes de nuestra comunidad. Si consideras que hay un contenido importante que puede ayudar o que pueda resolver una duda, haz tu propio resumen de lo que viste en dichos contenidos y publícalo aquí.</li>
          <li><strong>No se tolera cualquier acto de hostilidad, insultos, amenazas u odio contra cualquier usuario o grupo de usuarios</strong>: cualquier usuario que sea intencionalmente desagradable para la comunidad puede ser baneado, temporal o permanentemente, sin previo aviso. Cualquier tema que se salga de su ruta o comportamiento normal podrá ser cerrado o censurado a consideración del administrador o moderador. Esto incluye también temas en donde se generen “peleas", "enfrentamientos" o "discrepancias" que no se lleven adecuadamente.</li>
          <li><strong>Contenido ilegal (torrents, cracks, MP3, P2P, etc)</strong>: está prohibido cualquier mensaje de solicitud, ayuda o recomendación sobre contenido ilegal. Cualquier mensaje en foros, artículos, perfiles u otra sección pública de la comunidad SpartanGeek.com que contenga dicho material será removido y se evaluará <strong>suspender la cuenta</strong>.</li>
          <li><strong>Contenido que viole derechos de autor y propiedad intelectual de terceros</strong>: el equipo de SpartanGeek.com está comprometido con políticas que defienden los derechos de propiedad intelectual de creadores y artistas, y cualquier contenido en contra de esto se encuentra prohibido.</li>
          <li><strong>Prohibidas las dinámicas para ganar artificialmente medallas o rangos</strong>: Se eliminarán dinámicas, temas y comentarios que busquen aprovecharse indebidamente del sistema de tributos y espadas, para aumentar artificialmente de rango o para la adquisición de medallas. Los involucrados podrán ser perjudicados en sus rangos, medallas, recibir baneo temporal o incluso perder por completo su cuenta.</li>
          <li><strong>Acortadores de URL</strong>: Publica siempre los enlaces completos de aquellas páginas que quieras compartir. No hay razón para ocultar links externos, ya que no hay restricción de número de caracteres en lo que publicas o escribes.</li>
          <li><strong>Temas y material censurado</strong>: Está prohibido publicar, comentar o compartir publicaciones, links, contenido o material que a continuación se especifica, pero que no se limita a ello, quedando en entera discreción de los moderadores y administradores tomar las medidas necesarias: contenido sexual explícito o de alto contenido erótico, cadáveres, vómitos, violaciones, situaciones sangrientas, animales maltratados, heridas, enfermedades, delitos, etc.</li>
          <li><strong>Contenido que intente dañar</strong>: cualquier intento de dañar la imagen visual del sitio por medio de textos, imágenes o cualquier otro contenido está prohibido. De igual forma, cualquier mensaje que pretenda dañar la reputación de la comunidad a través de difamaciones o insultos se eliminará sin mediación previa. Si tienes una queja o sugerencia, siempre habrá canales para externarla sin que se tenga que llegar al punto de la agresión.</li>
        </ol>

        <h3>Consideraciones Generales</h3>

        <ol>
          <li>SpartanGeek.com se reserva el derecho de borrar, modificar o mover mensajes, artículos, videos, y demás contenido, a nuestra discreción y sin explicación alguna.</li>

          <li>Aunque los colaboradores y administradores de SpartanGeek.com intentarán mantener todas las secciones de nuestra comunidad ordenadas y con información válida y precisa, debido a la rápida distribución y creación de la información originada desde incontables fuentes de las que SpartanGeek.com no tiene control, no se puede garantizar la veracidad de la información aquí presentada.</li>

          <li>Las opiniones, consejos, propuestas y cualquier otra información expresada por los participantes en la comunidad SpartanGeek.com son exclusivamente del autor o publicador original de dicha información. Debes confiar en esa información únicamente bajo tu propio riesgo y criterio. Te recomendamos no depender únicamente de las opiniones y respuestas brindadas por los usuarios de SpartanGeek.com para tomar decisiones importantes, tanto de compra y consumo, como de comportamiento o modos de actuar en tu vida personal.</li>

          <li>La adhesión al reglamento es condición de membresía y uso de SpartanGeek.com; es decir, al registrarse o utilizar este sitio, el usuario o visitante acepta los términos y condiciones que implican ser parte y usuario de esta comunidad y podrá ser expulsado de ella ante cualquier violación a las normas.</li>
        </ol>

        <h3>Derechos de los usuarios</h3>

        <ol>
          <li>Todos los usuarios de SpartanGeek.com tienen el derecho de usar y pertenecer a esta comunidad sin costo alguno.</li>

          <li>Los participantes tienen derecho a comunicarse con cualquier miembro del staff, desde moderadores hasta administradores, para cualquier tema que consideren necesario. Ten en cuenta que llevar a cabo un proyecto de las proporciones de SpartanGeek.com es abrumante y muy demandante en tiempo, así que no te ofendas si no te pueden contestar rápido o incluso dar respuesta alguna.</li>

          <li>Si deseas reportar un contenido dentro de SpartanGeek.com, la forma más fácil de hacerlo saber a los moderadores es por medio de menciones directas a ellos. Reporta solamente comportamientos que no se ajusten a las reglas, ya que el abuso de este tipo de reportes también será penalizado.</li>

          <li>Los mensajes publicados por los usuarios son exclusivamente propiedad y responsabilidad de ellos. En cualquier momento pueden ser editados por el autor o solicitar su eliminación si así lo requieren.</li>

          <li>Los usuarios de SpartanGeek.com tienen la posibilidad de solicitar que su cuenta sea eliminada del sitio. Una vez ejecutada la terminación de la cuenta, los datos son físicamente eliminados de nuestros servidores y no pueden recuperarse.</li>

          <li>Los usuarios tienen derecho a conocer las razones por las que les fue aplicada una sanción, siempre y cuando sigan teniendo su cuenta activa. Sin embargo, eso no implica puede ser negociada, revertida o cancelada.</li>

          <li>Los usuarios del sitio tienen derecho a ser elegidos como miembros del staff (moderadores, editores, expertos, etc), ya sea porque se estudió su postulación y se encontró apto para un cargo dentro de SpartanGeek.com, o porque el equipo, luego de analizar su desempeño, encontró en él un gran rendimiento y colaboración. No te ofendas si nos pides ser miembro del staff y no se te asigna, o que no demos seguimiento o explicaciones a tu petición.</li>
        </ol>

        <h3>Sanciones</h3>

        <p>El incumplimiento de las reglas aquí mencionadas acarreará su respectiva sanción. Dichas sanciones pueden ser temporales o definitivas y su esquema o funcionamiento no está en discusión.</p>

        <p>SpartanGeek.com puede cancelar la cuenta de cualquier usuario sin previo aviso.</p>

        <h3>Nuestro logo e imagen</h3>

        <p>En SpartanGeek.com proporcionamos el logo plano de Spartan Geek a todos nuestros visitantes y usuarios para cualquier necesidad de prensa, publicidad o medios. Sin embargo, hay algunas reglas que se deben cumplir para poder utilizar dichos logos.</p>

        <ul class="mb-40">
          <li>El logo de SpartanGeek.com y sus slogans deben permanecer en su forma original. No está permitido hacer variaciones del logo de SpartanGeek.com, si se va a publicar en prensa, publicidad o medios.</li>
          <li>El logo de SpartanGeek.com no puede ser mostrado en páginas con contenido ilegal.</li>
          <li>El logo de SpartanGeek.com no puede ser usado para publicar productos, vender mercancía, publicar contenido multimedia, o respaldar actividades comerciales que no estén permitidas explícitamente y por escrito por los administradores de SpartanGeek.com, sin excepción alguna.</li>
        </ul>
      </div>
    </div>
  </div>
</main>