<button class="btn btn-icon btn-link close back-control" ng-click="cancel()">
  <i class="fa fa-fw fa-times"></i>
</button>
<form>
  <div class="modal-header">
    <h3 class="title-control">Crear cuenta</h3>
  </div>
  <div class="modal-body">
    <div class="form-centered">
      <p style="font-size: 13px; margin-bottom: 12px; background-color: #f1f1f1; padding: 8px 10px; border-radius: 8px;">Al crear una cuenta aceptas los <a href="/terminos-y-condiciones" target="_blank">términos y condiciones</a> de SpartanGeek.</p>
      <a href="" class="btn btn-fb" ng-if="!fb_loading" ng-click="loginFb()"><i class="fa fa-facebook"></i> Crear cuenta con Facebook</a>
      <a href="" class="btn btn-fb disabled" ng-if="fb_loading"><i class="fa fa-facebook"></i> Creando cuenta con Facebook...</a>
      <div class="text-left">
        <div class="or-up">ó si prefieres</div>
      </div>
      <hr class="or-up-separator">
      <div class="form-group">
        <input type="text" name="email" placeholder="Correo electrónico" class="form-control" ng-model="form.email">
      </div>
      <div class="form-group">
        <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" ng-model="form.username" maxlength="32" ng-change="check_username()" ng-class="{'has-error': form.username_error}">
      </div>
      <p class="alert alert-warning">{{ !form.username_error?'El usuario es final y no puede ser cambiado. Elige sabiamente.':'El nombre de usuario sólo puede llevar letras, números y guiones. Debe empezar con letra y terminar con número o letra y tener entre 3 y 32 caracteres.' }}</p>
      <div class="form-group">
        <input type="password" name="password" placeholder="Contraseña" ng-model="form.password" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" ng-click="signUp()" class="btn btn-primary btn-block">Crear cuenta</button>
      </div>
    </div>
    <div class="alert alert-danger text-center" ng-show="form.error">
      {{ form.error.message }}
    </div>
  </div>
</form>