<main class="global-content tournament">
  <div class="container">
    <h1>Spartan Champions League</h1>

    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th colspan="2">Comunicación por voz / Narraciones / Comentarios de expertos</th>
          </tr>
          <tr>
            <th>DiscordApp</th>
            <td><a href="https://discord.gg/0tZbJidtOpNxuz3a">https://discord.gg/0tZbJidtOpNxuz3a</a></td>
          </tr>
          <tr>
            <th>TeamSpeak</th>
            <td>198.50.155.239:10080 </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 text-right">
        <img src="https://s3-us-west-1.amazonaws.com/spartan-board/posts/571e7b4465d440410fb4d23b.png" alt="Spartan Champions League" height="140">
      </div>
    </div>

    <div class="row mb-40">
      <div class="col-md-3">
        <div class="sidebar-menu">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="{active: section == 'calendar'}">
              <a href="" ng-click="section = 'calendar'">Calendario</a>
            </li>
            <li role="presentation" ng-class="{active: section == 'groups'}">
              <a href="" ng-click="section = 'groups'">Fase de grupos</a>
            </li>
            <li role="presentation" ng-class="{active: section == 'second_round'}">
              <a href="" ng-click="section = 'second_round'">Octavos de final</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <section ng-if="section == 'calendar'">
          <h2>Calendario de partidos</h2>
          <hr>
          <h3>Fase de grupos</h3>
          <div ng-repeat="group in groups">
            <h3>Grupo {{ group.name }}</h3>
            <div class="row">
              <div ng-repeat="match in group.matches" class="col-md-4">
                <div class="match" ng-class="{'match-own': (user.info.username == match.player1 || user.info.username == match.player2), 'played': (match.player1_score > 0 || match.player2_score > 0), 'won': match.winner == user.info.username, 'lost': match.loser == user.info.username}">
                  <table class="table table-bordered">
                    <tr class="players">
                      <th ng-class="{winner: match.player1 == match.winner, loser: match.player1 == match.loser}" style="width: 50%; height: 58px; vertical-align: middle;">{{match.player1}}</th>
                      <th ng-class="{winner: match.player2 == match.winner, loser: match.player2 == match.loser}" class="text-right" style="vertical-align: middle;">{{match.player2}}</th>
                    </tr>
                    <tr ng-if="!match.editing" class="score">
                      <td colspan="2" class="text-center">
                        <span ng-if="match.player1_score !== '' && match.player2_score !== ''">{{match.player1_score}} : {{match.player2_score}}</span>
                        <span ng-if="match.player1_score === '' || match.player2_score === ''">Partido por jugar</span>
                      </td>
                    </tr>
                    <tr ng-if="match.editing">
                      <td class="text-center">
                        <input type="number" class="form-control" ng-model="match.player1_score">
                      </td>
                      <td class="text-center">
                        <input type="number" class="form-control" ng-model="match.player2_score">
                      </td>
                    </tr>
                    <tr ng-if="!match.editing" class="match-date">
                      <td colspan="2" class="text-center">{{ match.date }}</td>
                    </tr>
                    <tr ng-if="match.editing">
                      <td colspan="2">
                        <input type="text" class="form-control" ng-model="match.date">
                      </td>
                    </tr>
                  </table>
                  <div class="btn-toolbar" ng-if="can('solve-category-posts')">
                    <a href="" ng-if="!match.editing" ng-click="match.editing = true" class="btn btn-default">Editar</a>
                    <a href="" ng-if="match.editing" ng-click="updateScore(match, group)" class="btn btn-success">Guardar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section ng-if="section == 'groups'">
          <h2>Tabla de fase de grupos</h2>

          <div class="row">
            <div class="col-md-12">
              <table class="table" ng-repeat="group in groups">
                <tr>
                  <th colspan="8">Grupo {{ group.name }}</th>
                </tr>
                <tr>
                  <th style="width: 300px;">&nbsp;</th>
                  <th>PJ</th>
                  <th>PG</th>
                  <th>PP</th>
                  <th>GF</th>
                  <th>GC</th>
                  <th>DG</th>
                  <th>Puntos</th>
                </tr>
                <tr ng-repeat="member in group.members | orderBy:['-points','-dg','-gf','-gc']" ng-class="{'success': $index < 2}">
                  <td>{{ member.username }} <span class="steam" ng-if="member.steam_id">({{ member.steam_id }})</span></td>
                  <td>{{ member.pj }}</td>
                  <td>{{ member.pg }}</td>
                  <td>{{ member.pp }}</td>
                  <td>{{ member.gf }}</td>
                  <td>{{ member.gc }}</td>
                  <td>{{ member.gf - member.gc }}</td>
                  <td>{{ member.points }}</td>
                </tr>
              </table>
            </div>
          </div>
        </section>

        <section ng-if="section == 'second_round'">
          <section>
            <h3>Octavos de final</h3>
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th colspan="3">&nbsp;</th>
                    <th class="score">Ida</th>
                    <th class="score">Vuelta</th>
                  </tr>
                  <tr>
                    <th rowspan="2" class="game-key">G1</th>
                    <th class="game-key-winner">1A</th>
                    <th>{{ (groups[0].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td ng-if="!final_matches[0].editing">{{ final_matches[0].player1_score || "-" }}</td>
                    <td ng-if="final_matches[0].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[0].player1_score">
                    </td>
                    <td ng-if="!final_matches[1].editing">{{ final_matches[1].player1_score || "-" }}</td>
                    <td ng-if="final_matches[1].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[1].player1_score">
                    </td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2B</th>
                    <th>{{ (groups[1].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td ng-if="!final_matches[0].editing">{{ final_matches[0].player2_score || "-" }}</td>
                    <td ng-if="final_matches[0].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[0].player2_score">
                    </td>
                    <td ng-if="!final_matches[1].editing">{{ final_matches[1].player2_score || "-" }}</td>
                    <td ng-if="final_matches[1].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[1].player2_score">
                    </td>
                  </tr>
                  <tr ng-if="!final_matches[0].editing">
                    <td colspan="3">Fecha Partido de ida: {{ final_matches[0].date || "-" }}</td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[0].editing = true" class="btn btn-default btn-sm">Editar</a>
                    </td>
                  </tr>
                  <tr ng-if="final_matches[0].editing">
                    <td colspan="3"><input type="text" class="form-control" ng-model="final_matches[0].date"></td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[0].editing = false" class="btn btn-default btn-sm">Guardar</a>
                    </td>
                  </tr>
                  <tr ng-if="!final_matches[1].editing">
                    <td colspan="3">Fecha Partido de vuelta: {{ final_matches[1].date || "-" }}</td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[1].editing = true" class="btn btn-default btn-sm">Editar</a>
                    </td>
                  </tr>
                  <tr ng-if="final_matches[1].editing">
                    <td colspan="3"><input type="text" class="form-control" ng-model="final_matches[1].date"></td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[1].editing = false" class="btn btn-default btn-sm">Guardar</a>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th colspan="3">&nbsp;</th>
                    <th class="score">Ida</th>
                    <th class="score">Vuelta</th>
                  </tr>
                  <tr>
                    <th rowspan="2" class="game-key">G2</th>
                    <th class="game-key-winner">1C</th>
                    <th>{{ (groups[2].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td ng-if="!final_matches[2].editing">{{ final_matches[2].player1_score || "-" }}</td>
                    <td ng-if="final_matches[2].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[2].player1_score">
                    </td>
                    <td ng-if="!final_matches[3].editing">{{ final_matches[3].player1_score || "-" }}</td>
                    <td ng-if="final_matches[3].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[3].player1_score">
                    </td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2D</th>
                    <th>{{ (groups[3].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td ng-if="!final_matches[2].editing">{{ final_matches[2].player2_score || "-" }}</td>
                    <td ng-if="final_matches[2].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[2].player2_score">
                    </td>
                    <td ng-if="!final_matches[3].editing">{{ final_matches[3].player2_score || "-" }}</td>
                    <td ng-if="final_matches[3].editing" class="text-center">
                      <input type="number" class="form-control" ng-model="final_matches[3].player2_score">
                    </td>
                  </tr>
                  <tr ng-if="!final_matches[2].editing">
                    <td colspan="3">Fecha Partido de ida: {{ final_matches[2].date || "-" }}</td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[2].editing = true" class="btn btn-default btn-sm">Editar</a>
                    </td>
                  </tr>
                  <tr ng-if="final_matches[2].editing">
                    <td colspan="3"><input type="text" class="form-control" ng-model="final_matches[2].date"></td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[2].editing = false" class="btn btn-default btn-sm">Guardar</a>
                    </td>
                  </tr>
                  <tr ng-if="!final_matches[3].editing">
                    <td colspan="3">Fecha Partido de vuelta: {{ final_matches[1].date || "-" }}</td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[3].editing = true" class="btn btn-default btn-sm">Editar</a>
                    </td>
                  </tr>
                  <tr ng-if="final_matches[3].editing">
                    <td colspan="3"><input type="text" class="form-control" ng-model="final_matches[3].date"></td>
                    <td colspan="2">
                      <a href="" ng-if="can('solve-category-posts')" ng-click="final_matches[3].editing = false" class="btn btn-default btn-sm">Guardar</a>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G3</th>
                    <th class="game-key-winner">1E</th>
                    <th>{{ (groups[4].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td style="width: 50px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2F</th>
                    <th>{{ (groups[5].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G4</th>
                    <th class="game-key-winner">1G</th>
                    <th>{{ (groups[6].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td style="width: 50px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2H</th>
                    <th>{{ (groups[7].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G5</th>
                    <th class="game-key-winner">1B</th>
                    <th>{{ (groups[1].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td style="width: 50px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2A</th>
                    <th>{{ (groups[0].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G6</th>
                    <th class="game-key-winner">1D</th>
                    <th>{{ (groups[3].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td style="width: 50px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2C</th>
                    <th>{{ (groups[2].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G7</th>
                    <th class="game-key-winner">1F</th>
                    <th>{{ (groups[5].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td style="width: 50px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2E</th>
                    <th>{{ (groups[4].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G8</th>
                    <th class="game-key-winner">1H</th>
                    <th>{{ (groups[7].members | orderBy:['-points','-dg','-gf','-gc'])[0].username }}</th>
                    <td style="width: 50px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">2G</th>
                    <th>{{ (groups[6].members | orderBy:['-points','-dg','-gf','-gc'])[1].username }}</th>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </section>

        <section ng-if="section == 'quarter_finals'">
          <section>
            <h3>Cuartos de final</h3>
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G9</th>
                    <th class="game-key-winner">G1</th>
                    <th>{{ final_matches[8].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches[8].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G2</th>
                    <th>{{ final_matches[8].player2 || "-" }}</th>
                    <td>{{ final_matches[8].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G10</th>
                    <th class="game-key-winner">G3</th>
                    <th>{{ final_matches['G10'].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches['G10'].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G4</th>
                    <th>{{ final_matches['G10'].player2 || "-" }}</th>
                    <td>{{ final_matches['G10'].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G11</th>
                    <th class="game-key-winner">G5</th>
                    <th>{{ final_matches['G11'].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches['G11'].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G6</th>
                    <th>{{ final_matches['G11'].player2 || "-" }}</th>
                    <td>{{ final_matches['G11'].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G12</th>
                    <th class="game-key-winner">G7</th>
                    <th>{{ final_matches['G12'].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches['G12'].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G8</th>
                    <th>{{ final_matches['G12'].player2 || "-" }}</th>
                    <td>{{ final_matches['G12'].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </section>

        <section ng-if="section == 'semifinals'">
          <section>
            <h3>Semifinales</h3>
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G13</th>
                    <th class="game-key-winner">G9</th>
                    <th>{{ final_matches['G13'].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches['G13'].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G10</th>
                    <th>{{ final_matches['G13'].player2 || "-" }}</th>
                    <td>{{ final_matches['G13'].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G14</th>
                    <th class="game-key-winner">G11</th>
                    <th>{{ final_matches['G14'].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches['G14'].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G12</th>
                    <th>{{ final_matches['G14'].player2 || "-" }}</th>
                    <td>{{ final_matches['G14'].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </section>

        <section ng-if="section == 'final'">
          <section>
            <h3>Final</h3>
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th rowspan="2" class="game-key">G15</th>
                    <th class="game-key-winner">G13</th>
                    <th>{{ final_matches['G15'].player1 || "-" }}</th>
                    <td style="width: 50px;">{{ final_matches['G15'].player1_score || "-" }}</td>
                  </tr>
                  <tr>
                    <th class="game-key-winner">G14</th>
                    <th>{{ final_matches['G15'].player2 || "-" }}</th>
                    <td>{{ final_matches['G15'].player2_score || "-" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </section>
      </div>
    </div>

  </div>
</main>