<div class="idiot-wizzy">
  <div class="content" contenteditable ng-model="model"></div>
  <div class="actions">
    <nav>
      <a ng-click="apply(\bold\)"><i class="fa fa-bold"></i></a>
      <a ng-click="actionover(\bold\)"><i class="fa fa-italic"></i></a>
      <a ng-click="actionover(\bold\)"><i class="fa fa-list"></i></a>
      <a ng-click="actionover(\bold\)"><i class="fa fa-link"></i></a>
      <a ng-click="actionover(\bold\)"><i class="fa fa-camera-retro"></i></a>
      <a href="" ng-click="publish()" ng-class="{'disabled': waiting == true || model == ''}" class="btn btn-primary btn-sm">Publicar</a>
    </nav>
  </div>
</div>