@import "fonts";
@import "bootstrap/bootstrap";
@import "variables_shop";

.head-banner {
  padding: 3em 0;

  .copy {
    padding-top: 2em;
    h1 {
      font-weight: 300;
      font-size: 48px;
    }
    h3 {
      margin-bottom: 2em;
    }
  }
}
.ship-and-payment {
  background-color: #f6f6f6;
  padding: 3.5em 0;
}
.explanation {
  padding: 4em 0;
}

.comparascore-graph {
  background: url(/images/shop/graph.png) bottom left no-repeat;
  width: 95%;
  background-size: 100%;
  height: 160px;
  position: relative;
}

.score-line {
    position: absolute;
    border-left: 1px solid #6D6D6D;
    height: 100px;
    bottom: 0;
}

.score-number {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -28px;
    left: -14px;
    border-radius: 14px;
    font-size: 12px;
    padding-top: 6px;
    font-weight: 700;
    background: #6D6D6D;
    text-align: center;
    color: #fff;
}

.comparascore-explain {
  padding: 4em 0;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.testimonials {
  padding: 3em 0;
  background-color: #f9f9fc;
}
.testimonial {
  position: relative;

  figure {
    float: left;
  }
  .info {
    position: absolute;
    margin-left: 7em;
  }

  h5 {
    margin-bottom: 0.2em;
    margin-top: 0;
  }
  &::after {
    content: "";
    clear: both;
  }
}