@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "bootstrap/bootstrap";
@import "variables_shop";

html, body {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand > img {
  max-height: 35px;
  margin-top: -10px;
  margin-left: -10px;
  min-height: 35px;
  width: 108px;
}

.head-banner {
  padding: 3em 0;
  background-color: #171C27;
  color: white;

  .copy {
    padding-top: 2em;
    h1 {
      font-weight: 300;
      font-size: 48px;
    }
    h2 {
      margin-bottom: 1em;
      margin-top: 0;
      color: #93969c;
      font-size: 24px;
    }
  }

  .img-responsive {
    display: inline-block;
    max-height: 400px;
  }
}
.brands {
  background-color: #EEF2F8;
  padding: 1.5em 0;

  .brand-logo {
    display: inline-block;
    width: 12%;
    text-align: center;
    vertical-align: middle;
  }

  .Status {
    background-image: url(/images/store/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
  }
  .Status-NZXT-Logo {
    width: 55px;
    height: 14px;
    background-position: -10px -10px;
  }
  .Status-amd-logo {
    width: 60px;
    height: 14px;
    background-position: -85px -10px;
  }
  .Status-assus-logo {
    width: 62px;
    height: 12px;
    background-position: -165px -10px;
  }
  .Status-corsair-logo {
    width: 64px;
    height: 16px;
    background-position: -247px -10px;
  }
  .Status-dell-logo {
    width: 40px;
    height: 40px;
    background-position: -331px -10px;
  }
  .Status-gigabyte-logo {
    width: 95px;
    height: 12px;
    background-position: -391px -10px;
  }
  .Status-intel-logo {
    width: 36px;
    height: 24px;
    background-position: -506px -10px;
  }
  .Status-inwin-logo {
    width: 30px;
    height: 22px;
    background-position: -562px -10px;
  }
}
.ship-and-payment {
  background-color: #f6f6f6;
  padding: 3.5em 0;
}
.explanation {
  padding: 4em 0;
}

.comparascore-graph {
  background: url(/images/shop/graph.png) bottom left no-repeat;
  width: 95%;
  background-size: 100%;
  height: 160px;
  position: relative;
}

.score-line {
    position: absolute;
    border-left: 1px solid #6D6D6D;
    height: 100px;
    bottom: 0;
}

.score-number {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -28px;
    left: -14px;
    border-radius: 14px;
    font-size: 12px;
    padding-top: 6px;
    font-weight: 700;
    background: #6D6D6D;
    text-align: center;
    color: #fff;
}

.comparascore-explain {
  padding: 4em 0;
}

.btn-round {
  border-radius: 50px;
  &.btn-lg {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.btn-primary.btn-glow {
  box-shadow: 0 2px 26px 1px rgba(70,147,255,0.59);
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.testimonials {
  padding: 3em 0;
  background-color: #f9f9fc;
}
.testimonial {
  position: relative;

  figure {
    float: left;
  }
  .info {
    position: absolute;
    margin-left: 7em;
  }

  h5 {
    margin-bottom: 0.2em;
    margin-top: 0;
  }
  &::after {
    content: "";
    clear: both;
  }
}

.computers-list {
  .computer-single {
    border: 1px solid #e3e3e9;
    padding: 1em;
    h2 {
      margin: 10px 20px;
    }

    .computer-price {
      margin-left: 1em;
      border-radius: 5px;
      background-color: #f9f9fc;
      padding: 1em;
      border: 1px solid #f4f4fa;
      margin-bottom: 1em;

      &.recommended {
        border-color: @brand-primary;
      }

      .price-number {
        font-size: 24px;
        font-weight: 300;
        text-align: right;
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.product-feature {
  margin-bottom: 20px;
  .info {
    h3 {
      font-family: 'Proxima';
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.cs_new {
  height: 18px!important;
  font-size: 18px!important;
  font-family: inherit!important;
  font-weight: 600!important;
  margin-top: 15px!important;
  width: 29px!important;
}

.computer-name {
  margin-bottom: 7em;

  h1 {
    text-align: center;
    font-size: 64px;
  }
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
}

.computer-components {
  h2 {
    text-align: center;
  }
}

.marketing-info {
  .row {
    background-color: #182535;
  }
}

.copy {
  height: 500px;

  .has-center-content {
    display: table;
    position: relative;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    .center-content {
      display: table-cell;
      vertical-align: middle;

      .center-block {
        box-sizing: border-box;

        .grid-content-copy {
          width: 320px;

          h2, p {
            color: #fff;
          }
        }
      }
    }
  }
}
