//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            #333;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      @link-color;
//** Link hover decoration.
@link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-size-base:          14px;
@headings-font-family:    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@headings-font-weight:    300;

//== Navbar
//
//##

@navbar-default-color:             #666;
@navbar-default-bg:                #fff;
@navbar-default-border:            transparent;