.current-article {
  padding: 32px 40px;
  position:relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.label-date {
  background-color: @brand-primary-lighter;
  color: desaturate( lighten(@brand-primary, 18%), 20%);
  color: @brand-primary;
  font-weight: 400;
}

.actions-count {
  font-size: 13px;
  font-weight: 400;
  color: @brand-primary-light-text;
}

.back-to-list {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: @brand-primary-lighter;
  width: 100%;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  padding-left: 2.5em;
  border-top: 1px solid @brand-primary;
}

.current-article h1 {
  color: @brand-primary-normal;
  font: inherit;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.current-article .waiting {
  text-align: center;
  padding-top: 2em;

  img {
    margin-bottom: 1em;
  }

  h4 {
    color: @brand-primary-light-text;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  p {
    color: @brand-primary-light-text;
    font: inherit;
    font-size: 14px;
    line-height: 22px;
  }
}

.current-article {
  .content {
    padding-top: 1em;
    word-wrap: break-word;

    p {
      color: @brand-primary-dark;
      //font-size: 14px;
      line-height: 24px;
    }

    img {
      max-width: 100%;
      max-height: 240px;
    }
  }

  .author {
    background: @brand-primary-lighter;
    margin: -32px -40px;
    padding: 10px 40px;
    margin-bottom: 1em;
    height: 80px;

    .avatar {
      margin-top: 5px;
    }

    .user-info {
      margin-left: 5em;
      position: absolute;
      top: 0;

      .username {
        color: @brand-primary-normal;
        display: inline-block;
        font: inherit;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        vertical-align: middle;
        margin-right: 5px;
      }

      .description {
        color: @brand-primary-normal;
        font-size: 12px;
      }

      .level {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        color: @brand-primary;
      }
    }

    .category-preview {
      margin-right: -40px;
      padding-right: 40px;
      height: 80px;
      margin-bottom: -10px;
      margin-top: -10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-position: cover;
      background-size: 100% auto;
    }

    .category-label {
      line-height: 52px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 400;
      text-align: right;
      color: white;
    }
  }
}

.verified-account {
  display: inline-block;
  background-color: @brand-success;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
}

.role-labels {
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 5px;

  li {
    margin-right: 5px;
    display: inline-block;

    .label {
      padding: .1em .6em .2em;
    }

    .label.label-default {
      background: transparent;
      border: 1px solid @brand-primary;
      color: @brand-primary;
      font-weight: 600;

      &.developer {
        border: transparent;
        background-color: lighten(@brand-success, 52%);
        color: @brand-success;
      }
      &.spartan-girl {
        border: transparent;
        background-color: #E3DAF5;
        color: #793CE7;
      }
      &.editor {
        border: transparent;
        background-color: lighten(@brand-info, 42%);
        color: @brand-info;
      }
      &.child-moderator, &.category-moderator, &.super-moderator {
        border: transparent;
        background-color: lighten(@brand-warning, 40%);
        color: @brand-warning;
      }
      &.administrator {
        border: transparent;
        background-color: lighten(@brand-warning, 40%);
        color: @brand-warning;
      }
    }
  }
}

.current-article .author #resume {
  text-align: center;

  .fa {
    color: @brand-primary;
  }

  .stat {
    color: @brand-primary-normal;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;

    strong {
      display: block;
      font-size: 12px;
    }
  }
}

.current-article .share-buttons {
  padding: 0.5em 0;
}

.current-article .share-buttons .twitter-share-button {
  position:relative;
  top:4px;
  margin-left:1em;
}

.current-article .answers {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0.6em 0 0.6em;
  border-bottom: 2px solid @brand-primary-lighter;
}

.current-article .answers h5 {
  color: @brand-primary;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.current-article .first-comment {
  h4 {
    color: #606C7E;
    font: inherit;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  p {
    color: #606C7E;
    font: inherit;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .fake-form {
    background: #F8F9FB;
    border: 1px solid #BABFCB;
    border-radius: 3px;
    padding: 1em;
  }

  .fake-form .fake-textarea {
    height: 120px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #E7EBEF;
    padding: 1em;
  }
}

.current-article .first-comment .fake-form .fake-textarea p {
  text-align: left;
  font-size: 14px;
}

.float-actions {
  float: right;

  .only-on-hover {
    visibility: hidden;
  }
}

.current-article .comments {
  margin-left: -1em;

  .comment {
    border-bottom: 1px solid #F4F6F8;
    margin-bottom: 2em;
    padding: 1em;
    position: relative;

    &.editing {
      background-color: @brand-primary-lighter;
    }

    &.best {
      background-color: lighten(@brand-success, 54%);

      .header {
        font-size: 12px;
        text-transform: uppercase;
        color: @brand-success;
        font-weight: 600;
        margin-bottom: 8px;
        line-height: 18px;

        i {
          font-size: 18px;
          vertical-align: top;
          font-weight: 400;
        }
      }
    }

    .comment-author .username {
      color: @brand-primary-light-text;
      position: absolute;
      margin-top: 3px;
      margin-left: 0.8em;
      font-size: 14px;
      display: inline-block;

      a strong {
        font-size: 15px;
        font-weight: 600;
      }
      .level {
        color: @brand-primary-opaque;
      }
    }

    .date {
      color: #7C8592;
      font: inherit;
      font-size: 13px;
      margin: 0;
    }

    &.active {
      background-color: #FFF7E5;
      border-radius: 5px;
      border: 1px solid transparent;
      transition: background-color 1s;

      &.ack {
        background-color: white;
        border: 1px solid @brand-primary-light;
      }
    }

    &:hover {
      .actions {
        opacity: 1;
        ul li a {
          color: @brand-primary-opaque;
        }
      }
      .float-actions .only-on-hover {
        visibility: visible;
      }
    }

    .actions {
      position: relative;
      font-size: 13px;
      margin-top: 0.5em;
      opacity: 0;
      transition: opacity .2s;

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          display: inline-block;
          margin-left: 1em;

          a {
            color: @brand-primary-light-text;
            &.liked {
              color: @brand-success;
            }
            &.hated {
              color: @brand-danger;
            }

            &:hover, &:active {
              color: @brand-primary;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media @phone {
  .current-article {
    padding-bottom: 60px;

    .float-actions {
      position: relative;
      right: -20px;
    }
    .comments .comment .actions {
      opacity: 1;
    }
  }
  .username {
    margin-right: 40px;
  }
}

.current-article {
  .need-signin {
    background: @brand-primary-lighter;
    border: 1px solid @brand-primary-light;
    border-radius: 3px;
    color: @brand-primary;
    padding: 12px 1em;
    margin-bottom: 2em;

    p {
      font-size: 14px;
      margin: 0;
    }

    a {
    }
  }

  .img-preview {
    margin-top: 0.3em;
    margin-bottom: 0.3em;

    a {
      padding: 0.2em;
      border: 2px solid #fff;
      border-radius: 1px;
      display: inline-block;

      &:hover {
        border-color: @brand-primary-light;
        cursor: pointer;
      }
    }

    p {
      font-size: 11px;
      color: #99acc2;
      margin-bottom: 6px;
    }

    img {
      max-height: 260px;
      width: auto;
      max-width: 100%;
      border: 1px solid white;
    }
    video {
      max-height: 240px;
      width: auto;
      max-width: 100%;
    }
  }
}

.post-actions {
  margin-top: 0.5em;
  margin-bottom: 1.2em;
  list-style-type: none;
  padding-left: 0;
  text-align: right;

  &.empty {
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
  }

  .action {
    display: inline-block;
    margin-left: 1.2em;
  }
}
.votes-count {
  font-size: 13px;
  margin-top: 2.5em;
  color: #8A8A8A;
  text-align: right;
}

.comment-response {
  font-size: 12px;
  color: @brand-primary-light-text;
  padding-right: 4px;
}

.list-group-item {
  .avatar {
    .avatar-size(24px);
  }
  .username {
    line-height: 24px;
    padding-left: 0.7em;

    .menu-highlighted {
      font-weight: 800;
    }
  }
}