<div class="head-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="/images/store/home-pc.png" class="img-responsive">
            </div>
            <div class="col-md-5">
                <section class="copy">
                    <h1>Todo el poder para trabajar.</h1>
                    <h2>No uses una computadora tradicional para trabajo profesional.<br>Tú necesitas una PC de alto desempeño.</h2>
                    <div>
                        <a id="request-pc" href="" class="btn btn-primary btn-lg btn-round btn-glow" ng-click="scrollDown()">Solicitar una estación de trabajo</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="brands">
    <div class="container">
        <div class="brand-logo">
            <div class="Status Status-NZXT-Logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-amd-logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-assus-logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-corsair-logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-dell-logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-gigabyte-logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-intel-logo"></div>
        </div>
        <div class="brand-logo">
            <div class="Status Status-inwin-logo"></div>
        </div>
    </div>
</div>

<div class="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center mb-20">
                <h2>Estaciones de Trabajo personalizadas para hacer frente a proyectos importantes</h2>
                <h3>¿Cuál es tu desafío?</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="rectangle-22">
                    <div class="title">
                        <i class="fa fa-circle-o" aria-hidden="true"></i> Contenido Multimedia
                    </div>
                    <div class="icon-container">
                        <div class="category-icon">
                            <img src="/images/store/diseno.svg" alt="Diseño" width="140">
                        </div>
                    </div>

                    <div class="categories-list">
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Edición de Video</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Fotografía</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Animación Digital</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Producción de audio</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Diseño Gráfico</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rectangle-22">
                    <div class="title">
                        <i class="fa fa-circle-o" aria-hidden="true"></i> Renders y Modelado 3D
                    </div>
                    <div class="icon-container">
                        <div class="category-icon">
                            <img src="/images/store/arquitectura.svg" alt="Arquitectura" width="140">
                        </div>
                    </div>

                    <div class="categories-list">
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Arquitectura</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Ingeniería</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Realidad Virtual y Aumentada</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Diseño Industrial</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Planos 2D</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rectangle-22">
                    <div class="title">
                        <i class="fa fa-circle-o" aria-hidden="true"></i> Programación e Investigación
                    </div>
                    <div class="icon-container">
                        <div class="category-icon">
                            <img src="/images/store/desarrollo.svg" alt="Desarrollo" width="140">
                        </div>
                    </div>

                    <div class="categories-list">
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Desarrollo de Software</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Simulaciones<br>(Matemáticas/científicas)</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Data Science</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rectangle-22">
                    <div class="title">
                        <i class="fa fa-circle-o" aria-hidden="true"></i> Videojuegos
                    </div>

                    <div class="icon-container">
                        <div class="category-icon">
                            <img src="/images/store/gaming.svg" alt="Gaming" width="140">
                        </div>
                    </div>

                    <div class="categories-list">
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Gaming</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Gaming & Livestreaming</a>
                        <a href="/asistente" class="btn btn-default btn-block btn-round mb-10">Gaming con Realidad Virtual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ship-and-payment">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="use-assistant">
                    <h2>Si no encuentras la PC que necesitas, <a href="/asistente" alt="LLena nuestro asistente para solicitar una PC">llena nuestro asistente</a>.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="facts">
                    <div class="row">
                        <div class="col-md-3 br">
                            <h3><i class="fa fa-plane" aria-hidden="true"></i> Envíos a todo México</h3>
                            <p>Trabajamos con las principales paqueterías.</p>
                        </div>
                        <div class="col-md-5 br">
                            <h3><i class="fa fa-credit-card" aria-hidden="true"></i> Facturamos como persona moral</h3>
                            <p>Deduce tu inversión como herramienta de trabajo o activo fijo.</p>
                        </div>
                        <div class="col-md-4">
                            <h3><i class="fa fa-plus-square" aria-hidden="true"></i> Garantía para tu PC</h3>
                            <p>Cada componente utilizado tiene garantía contra defectos de fábrica.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 br">
                            <h3><i class="fa fa-star" aria-hidden="true"></i> Atención a los detalles</h3>
                            <p>Impecable arreglo de cables para el correcto flujo de aire y estética.</p>
                        </div>
                        <div class="col-md-6">
                            <h3><i class="fa fa-desktop" aria-hidden="true"></i> Ninguna PC es "pre-armada"</h3>
                            <p>Cada componente utilizado tiene garantía contra defectos de fábrica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="explanation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <h2>Beneficios de tener una Estación de Trabajo</h2>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>¿Qué es una computadora ensamblada?</h3>
                            <p>Una estación de trabajo, también conocida como workstation, es una computadora creada para trabajo profesional o empresarial.</p>
                            <p>Tiene un desempeño considerablemente mayor al de una computadora tradicional o una laptop, que están diseñadas para recreación, tareas básicas y poco exigentes.</p>

                            <h3>¿Quiénes necesitan <strong>Estaciones de Trabajo?</strong></h3>
                            <p>Profesionistas, empresas, centros de investigación o estudios creativos son los principales usuarios de estaciones de trabajo.</p>

                            <p>Estas computadoras son armadas a la medida de las necesidades, y permiten aprovechar programas profesionales que requieren mayor poder de procesamiento, capacidad gráfica, y memoria RAM para dar fluidez al trabajar diferentes royectos.</p>

                            <h3>¿Por qué una Estación de Trabajo de <strong>Spartan Geek</strong>?</h3>
                            <p>Cientos de profesionistas, empresas, despachos de arquitectura y agencias creativas actualmente usan nuestras Estaciones de Trabajo. Somos un referente en México y Latinoamérica.</p>
                            <p>Una "PC Spartana", se ha vuelto sinónimo de alto rendimiento y confiabilidad, gracias a que utilizamos los mejores componentes de las marcas más reconocidas a nivel mundial.</p>
                            <p>A diferencia de workstations pre-armadas de marcas como HP, Dell o Lenovo, una PC de Spartan Geek atiende a las necesidades específicas de cada tipo de usuario. Tenemos una comunidad de entusiastas que sirven como referencia para saber qué configuración es la más adecuada según el presupuesto y las necesidades.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="/images/store/Ilustracion-PC.png" class="img-responsive">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="explanation-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <h2>¿Usar Laptop ó PC para trabajar?</h2>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>Potencia de una PC armada sobre una Laptop.</h3>
                            <p>Una PC que esté armada como Estación de Trabajo siempre será más potente que una Laptop bajo dos supuestos: 1) que ambas estén en el mismo rango de precio, y 2) que la PC haya sido ensamblada por un profesional que sepa lo que está haciendo.</p>
                            <p>Por lo tanto, una PC siempre tendrá mejor relación precio-rendimiento que una Laptop.</p>

                            <h3>Especificaciones que parecen iguales, pero no lo son.</h3>
                            <p>En las Laptop, incluso aquellas catalogadas por sus fabricantes como "workstations", se utilizan procesadores, tarjetas de video y otros componentes que son versiones de menor desempeño que sus equivalentes para PC.</p>
                            <p>Por ejemplo, un procesador Intel i7 para Laptop técnicamente es un "Intel i7 versión móvil", y estos procesadores siempre tendrán un menor desempeño comparado con un verdadero procesador Intel i7 en la versión que se utiliza para armar computadoras de escritorio, y específicamente Estaciones de Trabajo.</p>
                            <p>Esto se debe a que las Laptops tienen menor capacidad de brindar energía a componentes de alto rendimiento. Por la restricción de espacio interior, las Laptop tienen que usar baterías comparativamente pequeñas y cuidan el consumo de energía para dar autonomía cuando no están conectadas a la corriente.</p>

                            <h3>Escalabilidad y actualizaciones de hardware.</h3>
                            <p>Al armar una PC que sirva como Estación de Trabajo se tiene en mente que las exigencias de ciertos programas crecerán en versiones nuevas, o que hay proyectos más demandantes. Por lo tanto, se necesita un equipo con más potencia, como por ejemplo más memoria RAM, una mejor tarjeta de video, o más espacio de almacenamiento. En una PC todos los componentes se pueden escalar y mejorar el rendimiento.</p>
                            <p>Por otro lado, una Laptop viene con muchas restricciones y ha sido fabricada para tener muy pocas opciones de escalabilidad. No hay espacio interior para meter otras tarjetas de video, no se puede cambiar el procesador, y regularmente no puedes meter más almacenamiento sin sacrificar el actual.</p>

                            <h3>Movilidad y portabilidad.</h3>
                            <p>Una Laptop tiene la ventaja de ser portable y que puede servir como herramienta de trabajo móvil.</p>
                            <p>Sin embargo, la movilidad tiene un costo. Para lograr esa portabilidad, las Laptop deben ser reducidas, lo cual implica que sus pantallas son muy pequeñas para trabajo profesional a comparación de un monitor para PC. Incrementa mucho la productividad al usar monitores más grandes, o incluso doble monitor.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <div class="text-center">
            <h3 class="mb-20">Lo que nuestros clientes dicen</h3>
        </div>
        <div class="row">
            <div class="col-md-12 mb-20">
                <div class="testimonial">
                    <div class="info">
                        <p>Empezamos con una PC de Spartan Geek. Ahora tenemos 5 equipos, y estamos en proceso de cambiar los demás.</p>
                        <h5>- Arquitecto Alejandro García, M2 Consultores y Power Union SA de CV</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>