<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Computadoras</a></li>
    <li><a href="#">Gaming</a></li>
    <li class="active">Delios II</li>
  </ol>
</div>

<div class="container">
  <h3>Delios II</h3>

  <section class="computer-name">
    <h1>Delios II</h1>
    <h2>El poder necesario para correr todos tus juegos en alta calidad a 1080p, y además hacer tareas avanzadas como grabación y edición de video.</h2>
    <div class="text-center">
      <img src="/images/store/delios.png" height="300">
    </div>
  </section>
  <section class="computer-components">
    <h2>Componentes incluídos</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4 product-feature">
        <div class="row">
          <div class="col-xs-12 mb-10">
            <strong class="text-uc text-light">Procesador</strong>
          </div>
          <div class="col-xs-3">
            <img src="/images/store/cpu.png" alt="Cámara" height="42">
          </div>
          <div class="col-xs-9">
            <div class="info">
              <h3>Intel i5 6300k</h3>
              <span>6a Generación</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 product-feature">
        <div class="row">
          <div class="col-xs-12 mb-10">
            <strong class="text-uc text-light">Memoria Ram</strong>
          </div>
          <div class="col-xs-3">
            <img src="/images/store/ram.png" alt="Cámara" height="42">
          </div>
          <div class="col-xs-9">
            <div class="info">
              <h3>8 GB</h3>
              <span>Memoria DDR4</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 product-feature">
        <div class="row">
          <div class="col-xs-12 mb-10">
            <strong class="text-uc text-light">Almacenamiento</strong>
          </div>
          <div class="col-xs-3">
            <img src="/images/store/storage.png" alt="Cámara" height="42">
          </div>
          <div class="col-xs-9">
            <div class="info">
              <h3>120 GB SSD</h3>
              <span>Almacenamiento primario</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 product-feature">
        <div class="row">
          <div class="col-xs-12 mb-10">
            <strong class="text-uc text-light">Almacenamiento</strong>
          </div>
          <div class="col-xs-3">
            <img src="/images/store/storage.png" alt="Cámara" height="42">
          </div>
          <div class="col-xs-9">
            <div class="info">
              <h3>1TB HDD</h3>
              <span>Almacenamiento secundario</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="marketing-info">
  <div class="row">
    <div class="col-md-6 copy">
      <div class="has-center-content">
        <div class="center-content">
          <div class="center-block">
            <div class="grid-content-copy">
              <h2 class="subsection-subheadline">Juegos en Full HD a 60 FPS</h2>
              <p>Tu computadora Delios II está equipada con una tarjeta gráfica que te permitirá jugar los mejores y últimos juegos en Full HD de manera fluída.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>