<main class="global-content text-content">
  <div class="container">
    <div class="row mb-40">
      <div class="col-md-8 col-md-offset-2">
        <section class="mb-40">
          <h1>Compras en legión</h1>

          <p>¡Es la forma más conveniente de comprar entre Spartanos!</p>
          <p>Entre más personas compren en el tiempo límite, mayor es el descuento en precio que podemos alcanzar como grupo.</p>

          <p>Cada descuento se alcanza al llegar a un “checkpoint”, y están determinados por círculos que indican el precio del producto, y la cantidad de personas que tienen que comprar para hacer válido el descuento.</p>

          <p>Cada <strong>checkpoint</strong> tiene un tiempo límite. Si te interesa el producto, no te tardes y únete a la Legión.</p>

          <img src="/images/massdrop/faq-1.png" class="img-responsive">

          <hr class="mb-20">

          <p>Los artículos que se puedan adquirir en esta dinámica grupal tendrán un monto para Unirte a la Legión de Compra.</p>

          <p>Esa es la cantidad que se paga inicialmente para que dentro del grupo sólo haya participantes que están comprometidos a cubrir la diferencia al finalizar el tiempo de la promoción.</p>
          <br>
          <div class="row">
            <div class="col-md-5">
              <img src="/images/massdrop/faq-2.png" class="img-responsive">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <br>
              <p>En el ejemplo de la izquierda:</p>
              <ul>
                <li>$3,500 es el precio que buscamos en el siguiente checkpoint. Es el que cambiará según la cantidad de gente que se haya unido.</li>
                <li>$2,500 es el monto para unirse a la Legión (comprar el artículo). Cuando termine, únicamente tendrás que pagar la diferencia y el envío.</li>
                <li>$3,600 es el precio al que podrías comprar el artículo normalmente en la tienda.</li>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <p>Al finalizar el tiempo de la Compra en Legión, se conocerá cuál fue el precio final que pagaremos los participantes. Este precio lo puedes ver en tiempo real en la página de la promoción y también se enviará a tu email.</p>

          <hr class="mb-20">
        </section>

        <p>A continuación dejamos las preguntas frecuentes para que no te quedes con ninguna duda.</p>
        <hr class="mb-40">

        <div class="faq">
          <section>
            <h2>¿Cuánto tiempo dura cada Compra en Legión?</h2>
            <p>Cada <strong>Compra en Legión</strong> puede tener una duración variable entre 24 horas y 7 días, dependiendo del artículo y la cantidad de piezas que podamos conseguir.</p>

            <p>Cada promoción incluye diferentes puntos de control (checkpoints) que se irán desbloqueando dependiendo de la cantidad de participantes que se han unido la Legión. Más participantes significa un menor precio para todos.</p>
          </section>
          <section>
            <h2>¿Cómo se hacen los pagos?</h2>
            <p>Las formas de pago son depósito bancario, transferencia electrónica, y tarjetas de débito y crédito.</p>

            <p>El primer pago a cubrir es el monto especificado para unirse a una <strong>Legión de Compra</strong>.
            Ese monto es para asegurarnos que en el grupo sólo hay participantes <strong>comprometidos</strong> en su compra.</p>

            <p>El pago final, que es por la cantidad restante, se solicita al finalizar el tiempo de la <strong>Compra en Legión</strong>. Podrás verlo en tiempo real en la página de la promoción y también te llegará a tu email.</p>

            <p>Si un pago lo hiciste con una forma de pago, el restante se puede hacer con otro sin problema.</p>
          </section>

          <section>
            <h2>¿Qué pasa cuando termina la Compra en Legión?</h2>

            <p>Cuando la <strong>Compra en Legión</strong> termina, realizamos la compra del producto con el fabricante. Nosotros previamente ya nos aseguramos que podremos comprar la cantidad suficiente de piezas para todos los que estamos en el grupo.</p>

            <p>Una vez que tenemos el producto en el Búnker Spartano, empacamos el producto para su envío individual y se manda a cada participante. La dirección de envío te la pedimos cuando se hace el pago final. Para los que van a recoger su producto personalmente, se les darán las instrucciones correspondientes.</p>
          </section>

          <section>
            <h2>¿Hay algún límite en las unidades que puedo comprar en cada Compra en Legión?</h2>

            <p>En la mayoría de <strong>Compras en legión</strong>, puedes comprar la cantidad que quieras. Entre más compres, mayores posibilidades existen para disminuir el precio para ti y para todo el grupo.</p>
            <p>Dicho esto, hay algunas compras en legión limitadas a ciertas unidades disponibles. Dichos límites se detallan en la descripción de la <strong>Compra en Legión</strong> del producto correspondiente.</p>
          </section>

          <section>
            <h2>¿Puede una Compra en Legión terminar antes de tiempo?</h2>

            <p>Sí puede terminar antes de tiempo, y por eso te recomendamos ser rápido en tu decisión.</p>

            <p>Además algunas compras en legión tienen un límite de unidades a comprar. Una vez que el límite es alcanzado, la <strong>Compra en legión</strong> automáticamente se cerrará y nadie podrá comprar más unidades.</p>
          </section>

          <section>
            <h2>¿Qué pasa si no se junta suficiente gente para un checkpoint y termina el tiempo?</h2>

            <p>Cuando el tiempo termina, se dará el precio del último checkpoint alcanzado a todos los que se hayan unido.</p>
            <p>La diferencia entre el monto pagado al unirte y ese último precio es el que se debe cubrir al final.</p>

            <p>La compra en legión permanecerá pública y podrás usar el botón "Solicitar nuevamente" para ser notificado si la compra en legión se activa nuevamente. Si hay suficientes solicitudes, haremos lo posible para hacer otra compra en legión en el futuro.</p>
          </section>

          <section>
            <h2>¿Quien elige los productos para compra en legión?</h2>

            <p>Los miembros de la comunidad pueden recomendar los productos que les gustaría que publiquemos. Dependiendo de la cantidad de gente que muestre interés, nos pondremos en contacto con el fabricante para intentar crear la <strong>compra en legión</strong>.</p>

            <p>Los productos que no hayan sido recomendados por los usuarios, son recomendaciones hechas por los fabricantes con los que ya hayamos hecho un trato o que son elegidos por nuestro equipo de ventas.</p>
          </section>

          <section>
            <h2>¿Cómo me convierto en vendedor o vendo a través de Compra en Legión?</h2>

            <p>Contacta al equipo de soporte de SpartanGeek con el asunto "Venta a Legión Spartana".</p>

            <p>En tu correo, por favor menciónanos que producto(s) estás interesado en vender e incluye toda la información relevante de contacto incluyendo links a tu página web.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>