<main class="global-content massdrop pay">
  <div class="container">
    <div class="row mb-20" ng-if="currentStep == 'pay'">
      <div class="col-md-12">
        <h1>{{name}}</h1>
      </div>
    </div>
    <div class="row mb-40" ng-if="currentStep == 'pay'">
      <div class="col-md-8">

        <section class="row">
          <div class="col-md-4">
            <p>Seleccionar Cantidad:</p>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-model="f.quantity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </section>

        <section>
          <h2>Opciones de pago</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="pay_method.value" name="optionsRadios" value="withdrawal" checked>
                  Pago con depósito o transferencia bancaria &mdash; <strong>Tienes 1 día para hacer el pago</strong>
                </label>
              </div>
              <img src="/images/pay-deposit.png" alt="Pago con depósito o transferencia bancaria" height="80px">
            </div>
            <div class="col-md-6">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="pay_method.value" name="optionsRadios" value="paypal" checked>
                  Pago con Paypal &mdash; <strong>Comisión de 4.6% + $5</strong>
                </label>
              </div>
              <img src="/images/pay-paypal.jpg" alt="Pago con Paypal" height="80">
            <div class="col-md-6" ng-if="false">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="pay_method.value" name="optionsRadios" value="credit_card">
                  Pago con tarjeta de débido o crédito &mdash; <strong>Comisión de 4.2% + $4</strong>
                </label>
              </div>
              <img src="/images/pay-card-2.png" height="30">
              <br><br>
              <section ng-if="user.isLogged" class="mb-40">
                <p class="alert alert-warning" ng-if="current_token_error != ''"><strong>Error en datos de tu tarjeta</strong><br>{{ token_errors[current_token_error] }}</p>
                <p class="alert alert-warning" ng-if="current_charge_error != ''"><strong>Error al intentar hacer el pago</strong><br>{{ charge_errors[current_charge_error] }}</p>
                <form id="stripe-form" stripe:form="createToken" ng-hide="f.trying_to_pay">
                  <fieldset>
                    <div class="form-group col-sm-8">
                      <label>Nombre impreso en la tarjeta</label>
                      <input type="text" size="40" maxlength="40" data-stripe="name" class="form-control" required />
                    </div>
                    <div class="form-group col-sm-8">
                      <label>Número de tarjeta</label>
                      <input type="text" size="16" maxlength="16" data-stripe="number" class="form-control" />
                    </div>
                    <div class="form-group col-sm-4">
                      <label>CVC</label>
                      <input type="text" size="4" maxlength="4" data-stripe="cvc" class="form-control" />
                    </div>
                    <div class="form-group col-sm-5 col-md-6">
                      <label>Fecha de expiración</label>
                      <input type="text" size="2" maxlength="2" data-stripe="exp-month" class="form-control" />
                      <p class="help-block">Mes (MM)</p>
                    </div>
                    <div class="form-group col-sm-5 col-md-6">
                      <label></label>
                      <input type="text" size="4" maxlength="4" data-stripe="exp-year" class="form-control" />
                      <p class="help-block">Año (AAAA)</p>
                    </div>
                  </fieldset>
                  <div class="checkbox" ng-if="pay_method.value == 'credit_card'">
                    <label>
                      <input type="checkbox" ng-model="f.understand"> Quiero realizar mi Compra en Legión y entiendo que aún falta por pagar <strong>una diferencia y el envío</strong>.
                    </label>
                  </div>
                  <button type="submit" class="btn btn-success btn-block" ng-disabled="!f.understand" ng-if="pay_method.value == 'credit_card'">Comprar</button>
                </form>
              </section>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-4">
        <section class="mb-40">
          <h3>Detalles de la orden</h3>
          <table class="table">
            <tr>
              <th>Cantidad</th>
              <td class="text-right">{{ f.quantity }}</td>
            </tr>
            <tr>
              <th>Subtotal</th>
              <td class="text-right">{{ f.quantity * price_per_unit | currency:'$ ':0 }} MXN</td>
            </tr>
            <tr ng-if="getPaymentFee() > 0" style="background-color: #FFF8F1;">
              <th>Comisión por tipo de pago</th>
              <td class="text-right">{{ getPaymentFee() | currency:'$ ':0 }} MXN</td>
            </tr>
            <tr>
              <th>Total</th>
              <td class="text-right">{{ f.quantity * price_per_unit + getPaymentFee() | currency:'$ ':0 }} MXN</td>
            </tr>
          </table>

          <div class="checkbox" ng-if="user.isLogged && (pay_method.value == 'withdrawal' || pay_method.value == 'paypal')">
            <label>
              <input type="checkbox" ng-model="f.understand"> Quiero realizar mi Compra en Legión y entiendo que aún falta por pagar <strong>una diferencia y el envío</strong>.
            </label>
          </div>

          <div class="buttons">
            <a href="" class="btn btn-block btn-success" ng-class="{disabled: !f.understand}" ng-if="user.isLogged && (pay_method.value == 'withdrawal' || pay_method.value == 'paypal')" ng-click="makeOrder()">Comprar</a>
          </div>

          <div class="buttons text-center" ng-if="!user.isLogged">
            <a href="" class="btn btn-block btn-success" ng-click="signIn()">Inicia sesión para pagar</a>
            ó
            <a href="" class="btn btn-block btn-default" ng-click="signUp()">Crea una cuenta nueva</a>
          </div>

          <div class="text-center mb-40" ng-show="f.trying_to_pay">
            <i class="fa fa-spinner fa-pulse fa-4x"></i>
          </div>
        </section>
      </div>
    </div>

    <div class="row mb-40" ng-if="currentStep == 'completed'">
      <div class="col-md-12">
        <h2 class="text-center">¡Tu orden ha sido procesada!</h2>

        <div class="big-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <hr>
            <p><strong>Gracias por comprar en SpartanGeek</strong><p>
            <p>Recibirás un correo con la confirmación de tu pedido. Si tienes alguna duda puedes <a href="/compra-en-legion/faq" target="_blank">ver las preguntas frecuentes sobre Compra en Legión</a>.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>