<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Computadoras</a></li>
    <li class="active">Gaming</li>
  </ol>
</div>

<div class="container">
  <h1>Computadoras para Gaming</h1>

  <section class="computers-list">
    <section class="computer-single">
      <div class="row">
        <div class="col-md-12">
          <h2>Serie Delios</h2>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <img src="/images/shop/spartana.png" class="img-responsive mb-40">
              <section>
                <comparascore value="{{ 92 }}"></comparascore>
                <article class="text-center">
                  <strong>ComparaScore</strong>
                  <div><a href="#compara-score">¿Qué significa esto?</a></div>
                </article>
              </section>
            </div>
            <div class="col-sm-12 col-md-6">
              <h4>Características principales</h4>

              <div class="row">
                <div class="col-xs-12 product-feature">
                  <div class="row">
                    <div class="col-xs-12 mb-10">
                      <strong class="text-uc text-light">Procesador</strong>
                    </div>
                    <div class="col-xs-3">
                      <img src="/images/store/cpu.png" alt="Cámara" height="42">
                    </div>
                    <div class="col-xs-9">
                      <div class="info">
                        <h3>Intel i5 6300k</h3>
                        <span>6a Generación</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 product-feature">
                  <div class="row">
                    <div class="col-xs-12 mb-10">
                      <strong class="text-uc text-light">Memoria Ram</strong>
                    </div>
                    <div class="col-xs-3">
                      <img src="/images/store/ram.png" alt="Cámara" height="42">
                    </div>
                    <div class="col-xs-9">
                      <div class="info">
                        <h3>8 GB</h3>
                        <span>Memoria DDR4</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 product-feature">
                  <div class="row">
                    <div class="col-xs-12 mb-10">
                      <strong class="text-uc text-light">Almacenamiento</strong>
                    </div>
                    <div class="col-xs-3">
                      <img src="/images/store/storage.png" alt="Cámara" height="42">
                    </div>
                    <div class="col-xs-9">
                      <div class="info">
                        <h3>120 GB SSD</h3>
                        <span>Almacenamiento primario</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 product-feature">
                  <div class="row">
                    <div class="col-xs-12 mb-10">
                      <strong class="text-uc text-light">Almacenamiento</strong>
                    </div>
                    <div class="col-xs-3">
                      <img src="/images/store/storage.png" alt="Cámara" height="42">
                    </div>
                    <div class="col-xs-9">
                      <div class="info">
                        <h3>1TB HDD</h3>
                        <span>Almacenamiento secundario</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <section class="computer-price">
            <div class="row">
              <div class="col-sm-8">
                <h4>Delios 1</h4>
              </div>
              <div class="col-sm-4 text-right">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 product-feature">
                    <div class="row">
                      <div class="col-xs-12 mb-10">
                        <strong class="text-uc text-light">Tarjeta de Video</strong>
                      </div>
                      <div class="col-xs-3">
                        <img src="/images/store/gpu.png" alt="Cámara" height="42">
                      </div>
                      <div class="col-xs-9">
                        <div class="info">
                          <h3>GTX 950</h3>
                          <span>Overclock de serie</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="price-number">
                  $ 12,500
                </div>
                <div class="bnt-toolbar text-right">
                  <a href="" class="btn btn-default">Más información</a>
                </div>
              </div>
            </div>
          </section>
          <section class="computer-price recommended">
            <div class="row">
              <div class="col-sm-8">
                <h4>Delios 2</h4>
              </div>
              <div class="col-sm-4 text-right">
                <span class="label label-primary">Recomendada</span>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 product-feature">
                    <div class="row">
                      <div class="col-xs-12 mb-10">
                        <strong class="text-uc text-light">Tarjeta de Video</strong>
                      </div>
                      <div class="col-xs-3">
                        <img src="/images/store/gpu.png" alt="Cámara" height="42">
                      </div>
                      <div class="col-xs-9">
                        <div class="info">
                          <h3>GTX 970</h3>
                          <span>Overclock de serie</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="price-number">
                  $ 14,500
                </div>
                <div class="bnt-toolbar text-right">
                  <a href="" class="btn btn-default">Más información</a>
                </div>
              </div>
            </div>
          </section>
          <section class="computer-price">
            <div class="row">
              <div class="col-sm-8">
                <h4>Delios 3</h4>
              </div>
              <div class="col-sm-4 text-right">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 product-feature">
                    <div class="row">
                      <div class="col-xs-12 mb-10">
                        <strong class="text-uc text-light">Tarjeta de Video</strong>
                      </div>
                      <div class="col-xs-3">
                        <img src="/images/store/gpu.png" alt="Cámara" height="42">
                      </div>
                      <div class="col-xs-9">
                        <div class="info">
                          <h3>GTX 980 Ti</h3>
                          <span>Overclock de serie</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="price-number">
                  $ 18,500
                </div>
                <div class="bnt-toolbar text-right">
                  <a href="" class="btn btn-default">Más información</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </section>
</div>