      <div class="head-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <img src="/images/shop/spartana.png" class="img-responsive">
            </div>
            <div class="col-md-7">
              <section class="copy">
                <h1>Únete a la legión</h1>
                <h2>Todo el poder que necesitas para trabajar y jugar a la medida.</h2>
                <div>
                  <a href="/computadoras/gaming" class="btn btn-link btn-lg">PC's para Gaming <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <a href="/computadoras/arquitectura" class="btn btn-link btn-lg">PC's para Profesionistas <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div class="ship-and-payment">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center">
                <img src="/images/shop/payment.png" width="50">
                <h2>Múltiples métodos de pago</h2>
                <p>Depósito, Oxxo, transferencia, tarjeta y PayPal</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <img src="/images/shop/shipping.png" width="50">
                <h2>Entregas en 5 días</h2>
                <p>Una vez recibida y procesada tu orden nos pondremos manos a la obra</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="explanation">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <section>
                <h1>¿Por qué una computadora ensamblada?</h1>

                <div class="row">
                  <div class="col-md-4">
                    <h3>¿Qué es una computadora ensamblada?</h3>
                    <p>Una computadora ensablada es la PC que compras sin que tengas que instalar los componentes internos. La PC viene <strong>completamente lista para usarse</strong>.</p>
                    <p>Si la compras en <strong>SpartanGeek</strong> podrás dedicarle más tiempo a lo que te apasiona, porque sabrás que has hecho la mejor compra posible.</p>
                    <img src="/images/shop/activities.png" class="img-responsive">
                  </div>
                  <div class="col-md-4">
                    <h3>¿Cual es la trampa?</h3>
                    <p>Algunas personas argumentan que las computadoras ensambladas no tienen componentes balanceados. Otros dicen que puedes obtener lo mismo a un menor precio si la ensamblas tú.</p>

                    <p>Nosotros sabemos que no se nace siendo un experto, y aunque puedes adquirir los conocimientos, tu tiempo es valioso, y con nuestra experiencia estarás realizando <strong>tus tareas y pasatiempos</strong> sin preocuparte por la configuración de tu PC. Porque creemos que elegir componentes de calidad es lo importante.</p>

                    <p>Velo así: si tienes una cena importante para 100 personas, ¿<strong>contratas a un chef</strong> o vas al supermercado a comprar los ingredientes para preparar la cena por tu cuenta?</p>
                  </div>
                  <div class="col-md-4">
                    <h3>¿Por qué con SpartanGeek?</h3>
                    <p>En <strong>SpartanGeek</strong> hemos construido una reputación muy buena en poco tiempo. Gamers profesionales, arquitectos, diseñadores gráficos y programadores de renombre, que nos han otorgado excelencia en el producto que se les ha entregado.</p>
                    <p>Además creamos un algoritmo para saber cual es la mejor PC para ti.</p>
                    <p>No sólo eso, si algo saliera mal, no tienes que preocuparte, nuestro equipo de soporte tomará las medidas necesarias para que puedas seguir feliz con tu PC.</p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div class="testimonials">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-20">
              <div class="testimonial">
                <figure>
                  <a href="http://andreaspan.com"><img src="http://www.awwwards.com/media/cache/thumb_image_user_68/awards/avatar/390022/56c2df03d1fa1.jpg" width="68" height="68" alt="Andreas Panagiotopoulos"></a>
                </figure>
                <div class="info">
                  <h5>Lorem Ipsum Dolor</h5>
                  <a rel="nofollow" href="http://andreaspan.com" target="_blank">CEO en Lorem Ipsum</a>
                  <p>La mejor compra que he hecho</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-20">
              <div class="testimonial">
                <figure>
                  <a href="http://andreaspan.com"><img src="http://www.awwwards.com/media/cache/thumb_image_user_68/awards/avatar/390022/56c2df03d1fa1.jpg" width="68" height="68" alt="Andreas Panagiotopoulos"></a>
                </figure>
                <div class="info">
                  <h5>Lorem Ipsum Dolor</h5>
                  <a rel="nofollow" href="http://andreaspan.com" target="_blank">CEO en Lorem Ipsum</a>
                  <p>La mejor compra que he hecho</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial">
                <figure>
                  <a href="http://andreaspan.com"><img src="http://www.awwwards.com/media/cache/thumb_image_user_68/awards/avatar/390022/56c2df03d1fa1.jpg" width="68" height="68" alt="Andreas Panagiotopoulos"></a>
                </figure>
                <div class="info">
                  <h5>Lorem Ipsum Dolor</h5>
                  <a rel="nofollow" href="http://andreaspan.com" target="_blank">CEO en Lorem Ipsum</a>
                  <p>La mejor compra que he hecho</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial">
                <figure>
                  <a href="http://andreaspan.com"><img src="http://www.awwwards.com/media/cache/thumb_image_user_68/awards/avatar/390022/56c2df03d1fa1.jpg" width="68" height="68" alt="Andreas Panagiotopoulos"></a>
                </figure>
                <div class="info">
                  <h5>Lorem Ipsum Dolor</h5>
                  <a rel="nofollow" href="http://andreaspan.com" target="_blank">CEO en Lorem Ipsum</a>
                  <p>La mejor compra que he hecho</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="comparascore-explain">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>Usamos algoritmos avanzados para ayudarte a armar tu PC</h3>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                <div style="display:inline;width:48px;height:48px;">
                  <canvas width="48" height="48px"></canvas>
                  <input class="cs_new" value="" readonly="readonly" style="width: 28px; height: 16px; position: absolute; vertical-align: middle; margin-top: 16px; margin-left: -38px; border: 0px; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 9px; line-height: normal; font-family: Arial; text-align: center; color: rgb(85, 85, 85); padding: 0px; -webkit-appearance: none; background: none;">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <section class="mt-20">
                <p>El ComparaScore es nuestro sistema de calificación. Se le asigna un valor de 0 a 100 a la <strong>computadora</strong> que sintetiza lo que ofrece, es decir, CPU, memoria, GPU, y el precio que se paga. También sintetiza la vida aproximada que tendrá tu PC.</p>
                <p>Omitimos críticas de usuarios o de páginas externas</p>
              </section>
            </div>
            <div class="col-md-5">
              <div class="comparascore-graph">
                <div class="score-line" style="left: 100%">
                  <span class="score-number">100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-40">