.component {
  .header {
    background-color: darken(@brand-primary, 10%);
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;

    h1 {
      font-size: 48px;
    }
    h2 {
      margin-top: 0;
      font-size: 16px;
      text-transform: uppercase;
      color: @brand-primary-light-text;
    }
  }

  .component-images {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 1em;

    img {
      max-width: 180px;
      max-height: 128px;
      height: auto;
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  h2 {
    font-size: 24px;
  }

  .table {
    th {
      color: @brand-primary-light-text;
      text-transform: uppercase;
      font-weight: 400;
    }
    td {
      font-weight: 600;
    }

    tr.sg-product {
      background-color: #FFF7E0;
    }
  }

  #component-questions {
    ul {
      padding-left: 20px;
    }
  }
  .question {
    font-size: 15px;
  }

  .comment-author {
    margin-bottom: 1em;

    .username {
      color: @brand-primary-light-text;
      position: absolute;
      margin-top: 3px;
      margin-left: 0.8em;
      font-size: 14px;
      display: inline-block;

      a strong {
        font-size: 15px;
        font-weight: 600;
      }
      .level {
        color: @brand-primary-opaque;
      }
    }
  }

}

.hit-stats {
  margin-bottom: 1em;
  .stats {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: @brand-primary-light-text;
  }
}
.components-list, .cart-list {

  .component {
    height: 110px;
    margin-bottom: 20px;

    .hit-name, .hit-part-number {
      margin-bottom: 0;
    }

    .hit-name {
      font-weight: bold;

      a {
        color: @brand-primary-opaque;
      }
    }
    .hit-part-number {
      font-size: 12px;
    }
  }
  .component-thumbnail {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .component-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
  }
  .component-thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
}

.img-slider {
  margin-top: -1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;

  .main-img {
    width: 100%;
    height: 345px;
    padding-right: 260px;
    background-color: #333;
  }

  .img-slider-selector {
    width: 260px;
    height: 345px;
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: -1px;
    overflow: hidden;
    border-bottom-right-radius: 12px;

    ul {
      padding-left: 0;
      li {
        list-style-type: none;
        max-height: 115px;

        img {
          max-height: 115px;
        }
      }
    }
  }
}

.collections {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.cart-list {
  li.no-elements {
    a {
      min-width: 240px;
    }
  }

  li {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .cart-element {
    min-width: 380px;
    padding-left: 1em;
    padding-right: 1em;

    .component-thumbnail {
      display: inline-block;
      width: 40px;
      height: 40px;
    }

    .info {
      display: inline-block;
      vertical-align: top;
      margin-left: 1em;

      .multiplier {
        font-size: 13px;
        font-weight: bold;
        color: #aaa;
        padding-left: 1em;
      }

      .price {
        font-weight: bold;
        color: @brand-primary;
      }
    }
  }
}